openapi: 3.2.0
info:
  title: Alianza IVR API
  version: '2'
  description: 'Operations tagged IVR across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: IVR
paths:
  /v2/partition/{partitionId}/account/{accountId}/ivr/{ivrId}:
    get:
      tags:
      - IVR
      summary: Retrieve IVR
      description: Use to retrieve an IVR
      operationId: retrieveIvr
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: ivrId
        in: path
        description: ID of IVR
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
          content:
            application/json:
              schema:
                originalRef: IVRX
                $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid account ID or IVR ID supplied
        '404':
          description: IVR not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
          schema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid account ID or IVR ID supplied
        '404':
          description: IVR not found
    put:
      tags:
      - IVR
      summary: Update IVR
      description: Use to update an IVR
      operationId: updateIvr
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: ivrId
        in: path
        description: ID of IVR
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
          content:
            application/json:
              schema:
                originalRef: IVRX
                $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid IVR ID or invalid IVR object supplied
        '404':
          description: IVR not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
          schema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid IVR ID or invalid IVR object supplied
        '404':
          description: IVR not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: IVRX
              $ref: '#/components/schemas/IVRX'
        description: IVR object
        required: true
    delete:
      tags:
      - IVR
      summary: Delete IVR
      description: Use to delete an IVR
      operationId: deleteIvr
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: ivrId
        in: path
        description: ID of IVR
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid IVR ID
        '404':
          description: IVR not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid IVR ID
        '404':
          description: IVR not found
  /v2/partition/{partitionId}/account/{accountId}/ivr:
    get:
      tags:
      - IVR
      summary: Retrieve all IVRs for account
      description: Use to retrieve a list of all IVRs for a account
      operationId: retrieveIvrList
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: IVRX
              $ref: '#/components/schemas/IVRX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: IVRX
                  $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid partition ID or account ID supplied
        '404':
          description: IVRs not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: IVRX
              $ref: '#/components/schemas/IVRX'
          schema:
            type: array
            items:
              originalRef: IVRX
              $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid partition ID or account ID supplied
        '404':
          description: IVRs not found
    post:
      tags:
      - IVR
      summary: Create IVR
      description: Use to create an IVR
      operationId: createIvr
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
          content:
            application/json:
              schema:
                originalRef: IVRX
                $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid IVR object supplied
        '404':
          description: IVR not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
          schema:
            originalRef: IVRX
            $ref: '#/components/schemas/IVRX'
        '400':
          description: Invalid IVR object supplied
        '404':
          description: IVR not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: IVRX
              $ref: '#/components/schemas/IVRX'
        description: IVR object
        required: true
components:
  schemas:
    IVRComponentX:
      type: object
      discriminator:
        propertyName: type
      properties:
        id:
          type: string
        left:
          type: string
        top:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - HANGUP
          - MENU
          - DIRECTORY
          - GROUP
          - INCOMING
          - SCHEDULE
          - DTMF
          - MENU_FAILURE
          - SCHEDULE_RULE_COMPONENT
          - USER
          - LINE_HUNTGROUP
          - FORWARD
    IVRX:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: string
        partitionId:
          type: string
        name:
          type: string
        top:
          type: string
        left:
          type: string
        fixedPosition:
          type: boolean
        ivrComponents:
          type: array
          items:
            originalRef: IVRComponentX
            $ref: '#/components/schemas/IVRComponentX'
        ivrComponentMappings:
          type: array
          items:
            originalRef: IVRComponentMappingX
            $ref: '#/components/schemas/IVRComponentMappingX'
    IVRComponentMappingX:
      type: object
      properties:
        fromIvrComponentId:
          type: string
        toIvrComponentId:
          type: string
    HANGUP:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        properties:
          goodBye:
            type: string
    RoutedTo:
      type: object
      properties:
        id:
          type: string
        timeoutSeconds:
          type: integer
          format: int32
      required:
      - id
      - timeoutSeconds
    GROUP:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        required:
        - name
        - routedToList
        - ringType
        - groupType
        properties:
          routedToList:
            type: array
            items:
              $ref: '#/components/schemas/RoutedTo'
          ringType:
            type: string
            enum:
            - SIMULTANEOUS
            - SEQUENTIAL
            - SINGLE_DEVICE_FROM_GROUP
          groupType:
            type: string
            enum:
            - USER
            - DEVICE
          timeoutSeconds:
            type: integer
            format: int32
          timeoutComponentId:
            type: string
    SCHEDULE:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        required:
        - scheduleComponent
        properties:
          scheduleComponent:
            type: array
            items:
              $ref: '#/components/schemas/SCHEDULE_RULE_COMPONENT'
    SCHEDULE_RULE_COMPONENT:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        properties:
          weekly:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/WeeklyScheduleX'
          custom:
            $ref: '#/components/schemas/CustomScheduleX'
    IVRComponentX_2:
      type: object
      properties:
        id:
          type: string
          description: The id of the IVR Component.  Chosen by the api user but it must be distinct from other IVR components which are under the same IVR.  There is no requirement for it to be distinct from unrelated IVR components.
        left:
          type: string
        top:
          type: string
        name:
          type: string
          description: Choose a descriptive name for the IVR component.
        type:
          type: string
          enum:
          - HANGUP
          - MENU
          - DIRECTORY
          - GROUP
          - INCOMING
          - SCHEDULE
          - DTMF
          - MENU_FAILURE
          - SCHEDULE_RULE_COMPONENT
          - USER
          - LINE_HUNTGROUP
          - FORWARD
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/DIRECTORY'
      - $ref: '#/components/schemas/DTMF'
      - $ref: '#/components/schemas/FORWARD'
      - $ref: '#/components/schemas/GROUP'
      - $ref: '#/components/schemas/HANGUP'
      - $ref: '#/components/schemas/INCOMING'
      - $ref: '#/components/schemas/MENU'
      - $ref: '#/components/schemas/MenuFailureX'
      - $ref: '#/components/schemas/SCHEDULE'
      - $ref: '#/components/schemas/SCHEDULE_RULE_COMPONENT'
      - $ref: '#/components/schemas/USER'
      required:
      - id
      - type
    DTMF:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        required:
        - digit
        properties:
          digit:
            type: string
    FORWARD:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        properties:
          toNumber:
            type: string
    IVRX_2:
      type: object
      properties:
        id:
          type: string
          description: The id of the IVR.  Automatic primary key.
        accountId:
          type: string
        partitionId:
          type: string
        name:
          type: string
          description: Choose a descriptive name for the IVR.
        top:
          type: string
        left:
          type: string
        fixedPosition:
          type: boolean
        ivrComponents:
          type: array
          description: The list of components that make up the IVR.
          items:
            $ref: '#/components/schemas/IVRComponentX_2'
        ivrComponentMappings:
          type: array
          description: The list of connections between IVR components.
          items:
            $ref: '#/components/schemas/IVRComponentMappingX_2'
      required:
      - name
      - ivrComponents
      - ivrComponentMappings
    DIRECTORY:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        properties:
          introPrompt:
            type: string
          invalidSelectionPrompt:
            type: string
          directoryDialType:
            type: string
            enum:
            - NAME
            - EXTENSION
    MenuFailureX:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        required:
        - menuTimeout
        - invalidSelectionPrompt
        - maxInvalidSelections
        properties:
          menuTimeout:
            type: integer
            format: int32
          invalidSelectionPrompt:
            type: string
          maxInvalidSelections:
            type: integer
            format: int32
    INCOMING:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
    WeeklyScheduleTimeX:
      type: object
      properties:
        startTime:
          type: string
        endTime:
          type: string
      required:
      - startTime
      - endTime
    PublicApiException:
      type: object
      properties:
        status:
          type: integer
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
          example:
            key: value
            key2: value2
    IVRComponentMappingX_2:
      type: object
      description: Refers to the mapping of one IVR Component to another. The mapping is used to define the flow of the IVR.
      properties:
        fromIvrComponentId:
          type: string
          description: The id of the IVR Component that is being mapped from.  Refers to <a href="#/~schema/IVRComponentX">IVRComponent.id</a><br/><br/> RARELY may also refer to <a href="#/~schema/GROUP">GROUP.timeoutComponentId</a>
        toIvrComponentId:
          type: string
          description: The id of the IVR Component that is being mapped to.  Refers to <a href="#/~schema/IVRComponentX">IVRComponent.id</a>
      required:
      - fromIvrComponentId
      - toIvrComponentId
    USER:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        properties:
          userId:
            type: string
          sendDirectlyToVoicemail:
            type: boolean
    CustomScheduleX:
      type: object
      properties:
        date:
          type: string
          format: date-time
        startTime:
          type: string
        endTime:
          type: string
      required:
      - date
      - startTime
      - endTime
    WeeklyScheduleX:
      type: object
      properties:
        SUN:
          $ref: '#/components/schemas/WeeklyScheduleTimeX'
        MON:
          $ref: '#/components/schemas/WeeklyScheduleTimeX'
        TUE:
          $ref: '#/components/schemas/WeeklyScheduleTimeX'
        WED:
          $ref: '#/components/schemas/WeeklyScheduleTimeX'
        THU:
          $ref: '#/components/schemas/WeeklyScheduleTimeX'
        FRI:
          $ref: '#/components/schemas/WeeklyScheduleTimeX'
        SAT:
          $ref: '#/components/schemas/WeeklyScheduleTimeX'
    MENU:
      allOf:
      - $ref: '#/components/schemas/IVRComponentX_2'
      - type: object
        required:
        - initPromptId
        - allowBargeInDuringInitPrompt
        - menuPromptId
        - menuRepeatDelay
        - dtmf
        - failure
        properties:
          initPromptId:
            type: string
          allowBargeInDuringInitPrompt:
            type: boolean
          menuPromptId:
            type: string
          menuRepeatDelay:
            type: integer
            format: int32
          dtmf:
            type: array
            items:
              $ref: '#/components/schemas/DTMF'
          failure:
            $ref: '#/components/schemas/MenuFailureX'
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
