openapi: 3.2.0
info:
  title: Alianza Emergency Notification API
  version: '2'
  description: 'Operations tagged Emergency Notification across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Emergency Notification
paths:
  /v2/partition/{partitionId}/account/{accountId}/emergency-notifications/events:
    get:
      tags:
      - Emergency Notification
      summary: Retrieve notification event list
      description: Use to retrieve all NotificationEvents for an account
      operationId: retrieveNotificationEvent
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: NotificationEvent
              $ref: '#/components/schemas/NotificationEvent'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: NotificationEvent
                  $ref: '#/components/schemas/NotificationEvent'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: NotificationEvent
              $ref: '#/components/schemas/NotificationEvent'
          schema:
            type: array
            items:
              originalRef: NotificationEvent
              $ref: '#/components/schemas/NotificationEvent'
  /v2/partition/{partitionId}/account/{accountId}/emergency-notifications/groups:
    get:
      tags:
      - Emergency Notification
      summary: Retrieve notification group list
      description: Use to retrieve a list of notification group associated to an account
      operationId: listNotificationGroups
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: NotificationGroup
              $ref: '#/components/schemas/NotificationGroup'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: NotificationGroup
                  $ref: '#/components/schemas/NotificationGroup'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: NotificationGroup
              $ref: '#/components/schemas/NotificationGroup'
          schema:
            type: array
            items:
              originalRef: NotificationGroup
              $ref: '#/components/schemas/NotificationGroup'
  /v2/partition/{partitionId}/account/{accountId}/emergency-notifications/groups/{type}/{groupId}:
    get:
      tags:
      - Emergency Notification
      summary: Retrieve notification group
      description: Use to retrieve a specific NotificationGroup (include Compliance & configurations) for id/type
      operationId: retrieveNotificationGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - ACCOUNT
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: NotificationGroup
            $ref: '#/components/schemas/NotificationGroup'
          content:
            application/json:
              schema:
                originalRef: NotificationGroup
                $ref: '#/components/schemas/NotificationGroup'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: NotificationGroup
            $ref: '#/components/schemas/NotificationGroup'
          schema:
            originalRef: NotificationGroup
            $ref: '#/components/schemas/NotificationGroup'
    put:
      tags:
      - Emergency Notification
      summary: Update notification group
      description: Use to update specific NotificationGroup (only Compliance & configurations) for id/type
      operationId: updateNotificationGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - ACCOUNT
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: NotificationGroup
            $ref: '#/components/schemas/NotificationGroup'
          content:
            application/json:
              schema:
                originalRef: NotificationGroup
                $ref: '#/components/schemas/NotificationGroup'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: NotificationGroup
            $ref: '#/components/schemas/NotificationGroup'
          schema:
            originalRef: NotificationGroup
            $ref: '#/components/schemas/NotificationGroup'
      requestBody:
        content:
          application/json:
            schema:
              originalRef: NotificationGroup
              $ref: '#/components/schemas/NotificationGroup'
        description: Notification Group object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/emergency-notifications/groups/{type}/{groupId}/execute-test:
    post:
      tags:
      - Emergency Notification
      summary: Execute test
      description: Execute a test of all NotificationConfigurations associated with the specified NotificationGroup
      operationId: executeTest
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - ACCOUNT
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: NotificationEvent
            $ref: '#/components/schemas/NotificationEvent'
          content:
            application/json:
              schema:
                originalRef: NotificationEvent
                $ref: '#/components/schemas/NotificationEvent'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: NotificationEvent
            $ref: '#/components/schemas/NotificationEvent'
          schema:
            originalRef: NotificationEvent
            $ref: '#/components/schemas/NotificationEvent'
components:
  schemas:
    NotificationGroup:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - ACCOUNT
        name:
          type: string
        compliance:
          originalRef: ComplianceConfiguration
          $ref: '#/components/schemas/ComplianceConfiguration'
        timeZoneId:
          type: string
    RecipientStatus:
      type: object
      properties:
        recipient:
          type: string
        status:
          type: string
          enum:
          - SENT
          - FAILED
    ComplianceConfiguration:
      type: object
      properties:
        installDate:
          type: string
          format: date-time
        usingAlternativeSolution:
          type: boolean
        emailRecipients:
          type: array
          items:
            type: string
        smsRecipients:
          type: array
          items:
            type: string
        inCompliance:
          type: boolean
    NotificationEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        callTime:
          type: integer
          format: int64
        timeZoneId:
          type: string
        groupId:
          type: string
        groupType:
          type: string
          enum:
          - ACCOUNT
        triggerType:
          type: string
          enum:
          - EMERGENCY_CALL
          - EMERGENCY_TEST_CALL
          - EMERGENCY_TEXT
          - EMERGENCY_TEST_TEXT
          - NOTIFICATION_TEST
        triggeringPhoneNumber:
          type: string
        status:
          type: string
          enum:
          - SENT
          - FAILED
          - PARTIAL
        emailNotificationRecipients:
          type: array
          items:
            originalRef: RecipientStatus
            $ref: '#/components/schemas/RecipientStatus'
        smsNotificationRecipients:
          type: array
          items:
            originalRef: RecipientStatus
            $ref: '#/components/schemas/RecipientStatus'
    NotificationGroup_2:
      type: object
      description: A notification group configures who is notified when an enduser dials 911.
      properties:
        id:
          type: string
          description: ID of the notification group.  For ACCOUNT type groups, this refers to <a href="#/~schema/Account">account.id</a>.
        type:
          type: string
          description: The type of notification group.
          enum:
          - ACCOUNT
        name:
          type: string
          description: The name of the notification group.
        compliance:
          $ref: '#/components/schemas/ComplianceConfiguration_2'
        timeZoneId:
          type: string
    RecipientStatus_2:
      type: object
      properties:
        recipient:
          type: string
          description: This represents the intended recipient of the emergency notification.  For email, this is the email address.  For SMS, this is the phone number.
        status:
          type: string
          description: Indicates the success of the notification delivery.<BR>SENT - notification successfully sent to this recipient.<BR>FAILED - notification failed to be sent to this recipient.
          enum:
          - SENT
          - FAILED
    EmergencyNotificationEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the event, auto generated by the system.
        callTime:
          type: string
          format: date-time
          description: The time the emergency call was placed.  ISO 8601 format.
        timeZoneId:
          type: string
          description: The time zone from which the call was placed.
        groupId:
          type: string
          description: The id of the group that was notified.  What this points to depends on the groupType field.  If groupType is ACCOUNT, this refers to <a href="#/~schema/Account">account.id</a>.
        groupType:
          type: string
          enum:
          - ACCOUNT
        triggerType:
          type: string
          description: The type of event that triggered the notification.
          enum:
          - EMERGENCY_CALL
          - EMERGENCY_TEST_CALL
          - NOTIFICATION_TEST
        triggeringPhoneNumber:
          type: string
          description: The phone number from which the 911 call was made.  Will be null for events with triggerType of NOTIFICATION_TEST.
        status:
          type: string
          description: Indicates the success of the notification delivery.<BR>SENT - notification successfully sent to all intended recipients.<BR>FAILED - notification failed to be sent to any intended recipients.<BR>PARTIAL - notification was sent to some, but not all, intended recipients.
          enum:
          - SENT
          - FAILED
          - PARTIAL
        emailNotificationRecipients:
          type: array
          description: The list of recipients that were attempted ed via email.
          items:
            $ref: '#/components/schemas/RecipientStatus_2'
        smsNotificationRecipients:
          type: array
          description: The list of recipients that were attempted via SMS.
          items:
            $ref: '#/components/schemas/RecipientStatus_2'
    PublicApiException:
      type: object
      properties:
        status:
          type: integer
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
          example:
            key: value
            key2: value2
    ComplianceConfiguration_2:
      type: object
      properties:
        installDate:
          type: string
          format: date-time
          description: The date the phone service was installed.  ISO 8601 format.
        usingAlternativeSolution:
          type: boolean
          description: Indicates whether the customer is using an alternative solution to comply with emergency notification rules, according to Kari's law.
        emailRecipients:
          type: array
          description: The list of email addresses that will receive emergency notifications.
          items:
            type: string
        smsRecipients:
          type: array
          description: The list of phone numbers that will receive emergency notifications.
          items:
            type: string
        inCompliance:
          type: boolean
          description: Indicates whether the customer is in compliance with Kari's law.
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
