openapi: 3.2.0
info:
  title: Alianza Report API
  version: '2'
  description: 'Operations tagged Report across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Report
paths:
  /v2/partition/{partitionId}/report/portout/csv:
    get:
      tags:
      - Report
      summary: Retrieve telephone number port out in CSV format
      description: Use to retrieve a CSV formatted telephone number port out report
      operationId: telephoneNumberPortOutCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/portout/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve telephone number port out in CSV format
      description: Use to retrieve a CSV formatted telephone number port out report
      operationId: telephoneNumberPortOutCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/emergencynotificationcompliance/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve Business Lines report in CSV format
      description: Use to retrieve a CSV formatted Business Lines report
      operationId: emergencyNotificationComplianceReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/user:
    get:
      tags:
      - Report
      summary: Retrieve user summary report
      description: Use to retrieve a list
      operationId: userSummaryReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          content:
            application/json:
              schema:
                originalRef: ReportSummaryX
                $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          schema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/device:
    get:
      tags:
      - Report
      summary: Retrieve user summary report
      description: Use to retrieve a list
      operationId: deviceSummaryReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          content:
            application/json:
              schema:
                originalRef: ReportSummaryX
                $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          schema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/device/csv:
    get:
      tags:
      - Report
      summary: Retrieve device report in CSV format
      description: Use to retrieve a CSV formatted list
      operationId: deviceCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/device/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve device report in CSV format
      description: Use to retrieve a CSV formatted list
      operationId: deviceCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/device/csv_3:
    get:
      tags:
      - Report
      summary: Retrieve device report in CSV format
      description: Use to retrieve a CSV formatted list
      operationId: deviceCSVReport3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/tn:
    get:
      tags:
      - Report
      summary: Retrieve telephone number summary report
      description: Use to retrieve the telephone number summary report
      operationId: telephoneNumberSummaryReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          content:
            application/json:
              schema:
                originalRef: ReportSummaryX
                $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          schema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/tn/csv:
    get:
      tags:
      - Report
      summary: Retrieve telephone number summary report in CSV format
      description: Use to retrieve a CSV formatted telephone number summary report
      operationId: telephoneNumberCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/tn/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve telephone number summary report in CSV format
      description: Use to retrieve a CSV formatted telephone number summary report
      operationId: telephoneNumberCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/sip:
    get:
      tags:
      - Report
      summary: Retrieve SIP summary report
      description: Use to retrieve the SIP summary report
      operationId: sipSummaryReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          content:
            application/json:
              schema:
                originalRef: ReportSummaryX
                $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          schema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/account/csv:
    get:
      tags:
      - Report
      summary: Retrieve account report in CSV format
      description: Use to retrieve a CSV formatted list
      operationId: accountCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/account/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve account report in CSV format
      description: Use to retrieve a CSV formatted list
      operationId: accountCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/account/csv_3:
    get:
      tags:
      - Report
      summary: Retrieve account report in CSV format. Uses new Data API to retrieve data.
      description: Use to retrieve a CSV formatted list
      operationId: accountCSVReport3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/accounthistory/enduserchanges:
    get:
      tags:
      - Report
      operationId: endUserAccountHistory
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End date
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: StreamingOutput
            $ref: '#/components/schemas/StreamingOutput'
          content:
            text/csv:
              schema:
                originalRef: StreamingOutput
                $ref: '#/components/schemas/StreamingOutput'
      responsesObject:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: StreamingOutput
            $ref: '#/components/schemas/StreamingOutput'
          schema:
            originalRef: StreamingOutput
            $ref: '#/components/schemas/StreamingOutput'
      deprecated: true
  /v2/partition/{partitionId}/report/accounthistory/enduserchanges_2:
    get:
      tags:
      - Report
      operationId: endUserAccountHistory2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End date
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/vfax:
    get:
      tags:
      - Report
      summary: Retrieve Virtual Fax summary report
      description: Use to retrieve the Virtual Fax summary report
      operationId: vFaxSummaryReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          content:
            application/json:
              schema:
                originalRef: ReportSummaryX
                $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          schema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/line:
    get:
      tags:
      - Report
      operationId: mockLineSummary
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          content:
            application/json:
              schema:
                originalRef: ReportSummaryX
                $ref: '#/components/schemas/ReportSummaryX'
      responsesObject:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
          schema:
            originalRef: ReportSummaryX
            $ref: '#/components/schemas/ReportSummaryX'
      deprecated: true
  /v2/partition/{partitionId}/report/businesslines/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve Business Lines report in CSV format
      description: Use to retrieve a CSV formatted Business Lines report
      operationId: businessLinesCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/deviceregistration/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve on demand Device Registration report in CSV format
      description: Use to retrieve a CSV formatted current devices registered
      operationId: deviceRegistrationReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/user-products/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve Users and the Product selected report in CSV format
      description: Use to retrieve a CSV formatted User Products report
      operationId: userProductsReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/specialtylines/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve Specialty Lines report in CSV format
      description: Use to retrieve a CSV formatted Specialty Lines report
      operationId: specialtyLinesReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/contact_center_usage/csv_1:
    get:
      tags:
      - Report
      summary: Retrieve Contact Center Usage report in CSV format
      description: Use to retrieve a CSV formatted Contact Center Usage report
      operationId: contactCenterUsageReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/contact_center_retail/csv_1:
    get:
      tags:
      - Report
      summary: Retrieve Contact Center Retail report in CSV format
      description: Use to retrieve a CSV formatted Contact Center Retail report
      operationId: contactCenterRetailReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/sip/csv:
    get:
      tags:
      - Report
      summary: Retrieve SIP summary report in CSV format
      description: Use to retrieve a CSV formatted SIP summary report
      operationId: sipCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/user/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve user summary report in CSV format
      description: Use to retrieve a CSV formatted list
      operationId: userCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/sip/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve SIP summary report in CSV format
      description: Use to retrieve a CSV formatted SIP summary report
      operationId: sipCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/user/csv_3:
    get:
      tags:
      - Report
      summary: Retrieve user summary report in CSV format. Uses new Data API to retrieve data.
      description: Use to retrieve a CSV formatted list
      operationId: userCSVReport3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/user/csv:
    get:
      tags:
      - Report
      summary: Retrieve user summary report in CSV format
      description: Use to retrieve a CSV formatted list
      operationId: userCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/vfax/csv:
    get:
      tags:
      - Report
      summary: Retrieve Virtual Fax report in CSV format
      description: Use to retrieve a CSV formatted Virtual Fax report
      operationId: vFaxCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/report/vfax/csv_2:
    get:
      tags:
      - Report
      summary: Retrieve Virtual Fax report in CSV format
      description: Use to retrieve a CSV formatted Virtual Fax report
      operationId: vFaxCSVReport2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
  /v2/partition/{partitionId}/report/msteams/csv_1:
    get:
      tags:
      - Report
      summary: Retrieve MS Teams report in CSV format
      description: Use to retrieve a CSV formatted MS Teams report
      operationId: msTeamsReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
components:
  schemas:
    StreamingOutput:
      type: object
    ReportSummaryX:
      type: object
      properties:
        newCount:
          type: integer
          format: int64
        totalCount:
          type: integer
          format: int64
    JobError:
      type: object
      properties:
        error:
          type: string
        lineNumber:
          type: integer
          format: int32
        column:
          type: string
        input:
          type: string
    Job_2:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        userId:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - DONE
          - FAILED
        errors:
          type: array
          items:
            originalRef: JobError
            $ref: '#/components/schemas/JobError'
        inputKey:
          type: string
        outputKey:
          type: string
        start:
          type: integer
          format: int64
        lastUpdated:
          type: integer
          format: int64
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
