openapi: 3.2.0
info:
  title: Alianza Cymbus User Product API
  version: '2'
  description: 'Operations tagged Cymbus User Product across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Cymbus User Product
paths:
  /v2/cymbus/partition-group/{partitionId}:
    get:
      tags:
      - Cymbus User Product
      summary: Retrieve Cymbus group
      description: Use to retrieve the Cymbus group associated to a partition
      operationId: retrieveCymbusPartitionGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusPartitionGroup
            $ref: '#/components/schemas/CymbusPartitionGroup'
          content:
            application/json:
              schema:
                originalRef: CymbusPartitionGroup
                $ref: '#/components/schemas/CymbusPartitionGroup'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusPartitionGroup
            $ref: '#/components/schemas/CymbusPartitionGroup'
          schema:
            originalRef: CymbusPartitionGroup
            $ref: '#/components/schemas/CymbusPartitionGroup'
  /v2/cymbus/partition-group:
    put:
      tags:
      - Cymbus User Product
      summary: Update Cymbus group
      description: Use to update specific Cymbus group (only support email and name
      operationId: updateCymbusPartitionGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusPartitionGroup
            $ref: '#/components/schemas/CymbusPartitionGroup'
          content:
            application/json:
              schema:
                originalRef: CymbusPartitionGroup
                $ref: '#/components/schemas/CymbusPartitionGroup'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusPartitionGroup
            $ref: '#/components/schemas/CymbusPartitionGroup'
          schema:
            originalRef: CymbusPartitionGroup
            $ref: '#/components/schemas/CymbusPartitionGroup'
      requestBody:
        content:
          application/json:
            schema:
              originalRef: CymbusPartitionGroup
              $ref: '#/components/schemas/CymbusPartitionGroup'
        description: cymbus partition group object
        required: true
  /v2/cymbus/account-group:
    put:
      tags:
      - Cymbus User Product
      summary: Update Cymbus account group
      description: Use to update Cymbus account group
      operationId: updateCymbusAccountGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusAccountGroup
            $ref: '#/components/schemas/CymbusAccountGroup'
          content:
            application/json:
              schema:
                originalRef: CymbusAccountGroup
                $ref: '#/components/schemas/CymbusAccountGroup'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusAccountGroup
            $ref: '#/components/schemas/CymbusAccountGroup'
          schema:
            originalRef: CymbusAccountGroup
            $ref: '#/components/schemas/CymbusAccountGroup'
      requestBody:
        content:
          application/json:
            schema:
              originalRef: CymbusAccountGroup
              $ref: '#/components/schemas/CymbusAccountGroup'
        description: Stretto Device Line object
        required: true
  /v2/cymbus/account-group/{accountid}:
    get:
      tags:
      - Cymbus User Product
      summary: Retrieve Cymbus account group
      description: Use to retrieve the Cymbus group associated to an account
      operationId: retrieveStrettoDeviceLinesGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: accountid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusAccountGroup
            $ref: '#/components/schemas/CymbusAccountGroup'
          content:
            application/json:
              schema:
                originalRef: CymbusAccountGroup
                $ref: '#/components/schemas/CymbusAccountGroup'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CymbusAccountGroup
            $ref: '#/components/schemas/CymbusAccountGroup'
          schema:
            originalRef: CymbusAccountGroup
            $ref: '#/components/schemas/CymbusAccountGroup'
  /v2/cymbus/account-group/prevalidate:
    post:
      tags:
      - Cymbus User Product
      summary: Prevalidate Cymbus account name
      description: Use to verify that the chosen name is available
      operationId: prevalidateCymbusGroupName
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: groupName
        in: query
        required: false
        schema:
          type: string
      responses:
        default:
          description: successful operation
      responsesObject:
        default:
          description: successful operation
  /v2/cymbus/{userid}/sipcredentials:
    get:
      tags:
      - Cymbus User Product
      summary: Retrieve sip credentials for Cymbus user
      description: Use to retrieve sip creds for both lines associated to an account
      operationId: retrieveSipCredentialsForCymbusUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: userid
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: SipCredentialData
            $ref: '#/components/schemas/SipCredentialData'
          content:
            application/json:
              schema:
                originalRef: SipCredentialData
                $ref: '#/components/schemas/SipCredentialData'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: SipCredentialData
            $ref: '#/components/schemas/SipCredentialData'
          schema:
            originalRef: SipCredentialData
            $ref: '#/components/schemas/SipCredentialData'
  /v2/cymbus/{userid}/sipcredentials/change:
    put:
      tags:
      - Cymbus User Product
      summary: Change sip password for Cymbus user
      description: Use to change sip password for both Cymbus user lines
      operationId: changeSipCredentialsForCymbusUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: userid
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: SipCredentialData
            $ref: '#/components/schemas/SipCredentialData'
          content:
            application/json:
              schema:
                originalRef: SipCredentialData
                $ref: '#/components/schemas/SipCredentialData'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: SipCredentialData
            $ref: '#/components/schemas/SipCredentialData'
          schema:
            originalRef: SipCredentialData
            $ref: '#/components/schemas/SipCredentialData'
components:
  schemas:
    CymbusPartitionGroup:
      type: object
      properties:
        partitionId:
          type: string
        supportEmail:
          type: string
        productName:
          type: string
        voicemailStarCode:
          type: string
        proxyHost:
          type: string
        groupName:
          type: string
    CymbusAccountGroup:
      type: object
      properties:
        id:
          type: string
        accountName:
          type: string
        groupName:
          type: string
        partitionId:
          type: string
    SipCredentialData:
      type: object
      properties:
        sipUsernameLine1:
          type: string
        sipUsernameLine2:
          type: string
        sipPassword:
          type: string
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
