openapi: 3.2.0
info:
  title: Alianza Inbound Rate Plan Product API
  version: '2'
  description: 'Operations tagged Inbound Rate Plan Product across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Inbound Rate Plan Product
paths:
  /v2/partition/{partitionId}/inboundrateplanproduct/{ratePlanId}:
    get:
      tags:
      - Inbound Rate Plan Product
      summary: Retrieve an inbound rate plan
      description: Use to retrieve an inbound rate plan
      operationId: retrieveInboundRatePlan
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: ratePlanId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: InboundRatePlanProductX
            $ref: '#/components/schemas/InboundRatePlanProductX_2'
          content:
            application/json:
              schema:
                originalRef: InboundRatePlanProductX
                $ref: '#/components/schemas/InboundRatePlanProductX_2'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: InboundRatePlanProductX
            $ref: '#/components/schemas/InboundRatePlanProductX_2'
          schema:
            originalRef: InboundRatePlanProductX
            $ref: '#/components/schemas/InboundRatePlanProductX_2'
  /v2/partition/{partitionId}/inboundrateplanproduct:
    get:
      tags:
      - Inbound Rate Plan Product
      summary: Retrieve inbound rate plan list
      description: Retrieve a list of inbound rate plans available to a partition
      operationId: retrieveInboundRatePlanList
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: InboundRatePlanProductX
              $ref: '#/components/schemas/InboundRatePlanProductX_2'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: InboundRatePlanProductX
                  $ref: '#/components/schemas/InboundRatePlanProductX_2'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: InboundRatePlanProductX
              $ref: '#/components/schemas/InboundRatePlanProductX_2'
          schema:
            type: array
            items:
              originalRef: InboundRatePlanProductX
              $ref: '#/components/schemas/InboundRatePlanProductX_2'
components:
  schemas:
    InboundRate:
      type: object
      properties:
        rate:
          type: number
          format: double
        allowCalls:
          type: boolean
    InboundRatePlanProductX_2:
      type: object
      properties:
        id:
          type: string
        partitionId:
          type: string
        name:
          type: string
        defaultPlan:
          type: boolean
        archived:
          type: boolean
        rates:
          type: object
          additionalProperties:
            originalRef: InboundRate
            $ref: '#/components/schemas/InboundRate'
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
