openapi: 3.2.0
info:
  title: Alianza Account User API
  version: '2'
  description: 'Operations tagged Account User across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Account User
paths:
  /v2/partition/{partitionId}/account/{accountId}/accountuser:
    get:
      tags:
      - Account User
      summary: Get user list
      description: Use to retrieve a list of users. limitedData is provided to enable large result sets retreived without long retrieval times
      operationId: list
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: limitedData
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: AccountUserX
              $ref: '#/components/schemas/AccountUserX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: AccountUserX
                  $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: AccountUserX
              $ref: '#/components/schemas/AccountUserX'
          schema:
            type: array
            items:
              originalRef: AccountUserX
              $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
    post:
      tags:
      - Account User
      summary: Create user
      description: Use to create a user
      operationId: create_2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          content:
            application/json:
              schema:
                originalRef: AccountUserX
                $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user object
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          schema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user object
        '404':
          description: User not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: AccountUserX
              $ref: '#/components/schemas/AccountUserX'
        description: End user object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/accountuser/{userId}:
    get:
      tags:
      - Account User
      summary: Retrieve user
      description: Use to retrieve a user
      operationId: getUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      - name: idType
        in: query
        description: Defines if the Id is the userid for the username
        required: false
        schema:
          type: string
          enum:
          - Id
          - UserName
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          content:
            application/json:
              schema:
                originalRef: AccountUserX
                $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid account ID or user ID
        '404':
          description: Account user not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          schema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid account ID or user ID
        '404':
          description: Account user not found
    put:
      tags:
      - Account User
      summary: Update user
      description: Use to update a user
      operationId: update_3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          content:
            application/json:
              schema:
                originalRef: AccountUserX
                $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user ID or user object
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          schema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user ID or user object
        '404':
          description: User not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: AccountUserX
              $ref: '#/components/schemas/AccountUserX'
        description: Account user object
        required: true
    delete:
      tags:
      - Account User
      summary: Delete user
      description: Use to delete a user
      operationId: delete_3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid user ID
        '404':
          description: Account user not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid user ID
        '404':
          description: Account user not found
    patch:
      tags:
      - Account User
      summary: Update user
      description: Use to update a user
      operationId: patch_3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          content:
            application/json:
              schema:
                originalRef: AccountUserX
                $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user ID or user object
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          schema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user ID or user object
        '404':
          description: User not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: AccountUserX
              $ref: '#/components/schemas/AccountUserX'
        description: Account user object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/accountuser/{userId}/resetpassword:
    put:
      tags:
      - Account User
      summary: Reset user password
      description: Use to reset the password of a user
      operationId: resetPassword_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          content:
            application/json:
              schema:
                originalRef: AccountUserX
                $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user ID
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
          schema:
            originalRef: AccountUserX
            $ref: '#/components/schemas/AccountUserX'
        '400':
          description: Invalid user ID
        '404':
          description: User not found
components:
  schemas:
    AccountUserX:
      type: object
      properties:
        partitionId:
          type: string
        accountId:
          type: string
        userId:
          type: string
        subDomain:
          type: string
        username:
          type: string
        password:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        mustChangePassword:
          type: boolean
        languageTag:
          type: string
        id:
          type: string
    PublicApiException:
      type: object
      properties:
        status:
          type: integer
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
          example:
            key: value
            key2: value2
    AccountUserX_2:
      type: object
      properties:
        partitionId:
          type: string
          description: A partitionId identifies the business entity that this account is a part of.  Refers to <a href="#/~schema/PartitionX">partition.id</a>
        accountId:
          type: string
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
        userId:
          type: string
          description: Identifies a unique Account User.
        subDomain:
          type: string
          minLength: 3
          maxLength: 256
          description: Determines the branding which is used in the display of user emails and the portal. Must exist in the <a href="#/~operation/Partition/getAllSettings">Partition Settings</a> (type SUB-DOMAINS).
        username:
          type: string
          minLength: 3
          maxLength: 256
          description: The email address of the AccountUser.
        firstName:
          type: string
          minLength: 3
          maxLength: 256
        lastName:
          type: string
          minLength: 3
          maxLength: 256
        mustChangePassword:
          type: boolean
          description: Indicates whether the user will be required to update their password upon login. This field cannot be set manually, only read out.
        languageTag:
          type: string
          description: 'The localization setting that indicates the language of the user.  Example: "en-US"'
        id:
          type: string
          description: The same value as the userId.
      required:
      - username
      - firstName
      - lastName
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
