openapi: 3.2.0
info:
  title: Alianza Device Inventory Management API
  version: '2'
  description: 'Operations tagged Device Inventory Management across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Device Inventory Management
paths:
  /v2/partition/{partitionId}/deviceinventory/import:
    post:
      tags:
      - Device Inventory Management
      summary: Upload bulk device inventory
      description: Use to upload a bulk file containing the partition's device inventory
      operationId: importDeviceInventory
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
      requestBody:
        content:
          application/json:
            schema:
              originalRef: JobUploadKey
              $ref: '#/components/schemas/JobUploadKey'
        description: Use Jobs API to upload file
  /v2/partition/{partitionId}/deviceinventory:
    get:
      tags:
      - Device Inventory Management
      summary: Retrieve bulk device inventory
      description: Use to retrieve a bulk file containing the partition's device inventory
      operationId: allTelephoneNumberCSVReport
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
      deprecated: true
    post:
      tags:
      - Device Inventory Management
      summary: Upload bulk device inventory
      description: Use to upload a bulk file containing the partition's device inventory
      operationId: importDeviceInventory_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: FileImportValidationErrorX
                  $ref: '#/components/schemas/FileImportValidationErrorX'
        '400':
          description: Invalid service activation event list supplied
        '404':
          description: Error
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
          schema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
        '400':
          description: Invalid service activation event list supplied
        '404':
          description: Error
      deprecated: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              originalRef: MultipartFormDataInput
              $ref: '#/components/schemas/MultipartFormDataInput_2'
        description: Service activation event list
        required: true
  /v2/partition/{partitionId}/deviceinventory/export:
    post:
      tags:
      - Device Inventory Management
      summary: Retrieve bulk device inventory
      description: Use to retrieve a bulk file containing the partition's device inventory
      operationId: getDeviceInventory
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
  /v2/partition/{partitionId}/deviceinventory/delete:
    post:
      tags:
      - Device Inventory Management
      summary: Delete bulk device inventory
      description: Use to delete a bulk file containing the partition's device inventory
      operationId: deleteDeviceInventory
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            application/json:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
      requestBody:
        content:
          application/json:
            schema:
              originalRef: JobUploadKey
              $ref: '#/components/schemas/JobUploadKey'
        description: Use Jobs API to upload file
components:
  schemas:
    MultipartFormDataInput_2:
      type: object
    FileImportValidationErrorX:
      type: object
      properties:
        lineNumber:
          type: integer
          format: int32
        error:
          type: string
        column:
          type: string
        input:
          type: string
    JobError:
      type: object
      properties:
        error:
          type: string
        lineNumber:
          type: integer
          format: int32
        column:
          type: string
        input:
          type: string
    JobUploadKey:
      type: object
      properties:
        key:
          type: string
    Job_2:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        userId:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - DONE
          - FAILED
        errors:
          type: array
          items:
            originalRef: JobError
            $ref: '#/components/schemas/JobError'
        inputKey:
          type: string
        outputKey:
          type: string
        start:
          type: integer
          format: int64
        lastUpdated:
          type: integer
          format: int64
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
