openapi: 3.2.0
info:
  title: Alianza End User API
  version: '2'
  description: 'Operations tagged End User across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: End User
paths:
  /v2/partition/{partitionId}/account/{accountId}/user:
    get:
      tags:
      - End User
      summary: Get end user list
      description: Use to retrieve a list of end users. limitedData is provided to enable large result sets retreived without long retrieval times
      operationId: retrieveEndUserList
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: limitedData
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: EndUserV2X
                  $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            type: array
            items:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
    post:
      tags:
      - End User
      summary: Create end user
      description: Use to create a end user
      operationId: createEndUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserV2X
                $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid user object
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid user object
        '404':
          description: User not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
        description: End user object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/user/prevalidate/email/{email}:
    get:
      tags:
      - End User
      summary: Prevalidate the end user's email address before saving the end user
      description: Use to prevalidate the email address. If the user hasn't been created yet, use as is. If the User already exists, provide qualified query param `userId`
      operationId: prevalidateEmailAddress
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: email
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: EndUserV2X
                  $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid partition, account ID, or user ID. Validation error if email is in use.
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            type: array
            items:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid partition, account ID, or user ID. Validation error if email is in use.
        '404':
          description: Not found
  /v2/partition/{partitionId}/account/{accountId}/user/activation:
    post:
      tags:
      - End User
      summary: End User activation
      description: (DEPRECATED) Use to create a new end user/device/csr to an existing account
      operationId: activation_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserActivationV2X
            $ref: '#/components/schemas/EndUserActivationV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserActivationV2X
                $ref: '#/components/schemas/EndUserActivationV2X_2'
        '400':
          description: Invalid end user activation object(s) supplied
        '404':
          description: Account not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserActivationV2X
            $ref: '#/components/schemas/EndUserActivationV2X_2'
          schema:
            originalRef: EndUserActivationV2X
            $ref: '#/components/schemas/EndUserActivationV2X_2'
        '400':
          description: Invalid end user activation object(s) supplied
        '404':
          description: Account not found
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              originalRef: EndUserActivationV2X
              $ref: '#/components/schemas/EndUserActivationV2X_2'
        description: Account activation object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}:
    get:
      tags:
      - End User
      summary: Retrieve end user
      description: Use to retrieve a end user
      operationId: retrieveEndUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      - name: idType
        in: query
        description: Defines if the Id is the userid for the username
        required: false
        schema:
          type: string
          enum:
          - Id
          - UserName
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserV2X
                $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid account ID or user ID
        '404':
          description: End user not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid account ID or user ID
        '404':
          description: End user not found
    put:
      tags:
      - End User
      summary: Update end user
      description: Use to update a end user
      operationId: updateEndUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserV2X
                $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID or user object
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID or user object
        '404':
          description: User not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
        description: End user object
        required: true
    delete:
      tags:
      - End User
      summary: Delete end user
      description: Use to delete a end user
      operationId: deleteEndUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Invalid end user ID
        '404':
          description: End user not found
      responsesObject:
        '400':
          description: Invalid end user ID
        '404':
          description: End user not found
    patch:
      tags:
      - End User
      summary: Update end user
      description: Use to update a end user
      operationId: patch_4
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserV2X
                $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID or user object
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID or user object
        '404':
          description: User not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: EndUserV2X
              $ref: '#/components/schemas/EndUserV2X_2'
        description: End user object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/send-welcome-email:
    post:
      tags:
      - End User
      summary: Send welcome email to user
      description: Use to send a welcome email to the user
      operationId: sendWelcomeEmail
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '404':
          description: User not found
      responsesObject:
        '404':
          description: User not found
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/callingplanproduct/{callingPlanProductId}:
    put:
      tags:
      - End User
      summary: Change Calling Plan
      description: DEPRECATED USE account/{accountId}/callingplan INSTEAD -- Will add a pending calling plan.  If a pending calling plan already exists it will remove it and set the new calling plan
      operationId: changeCallingPlan_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      - name: callingPlanProductId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: CallingPlanX
                  $ref: '#/components/schemas/CallingPlanX'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
          schema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
      deprecated: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/callingplanswap:
    post:
      tags:
      - End User
      summary: Change Calling Plan Immediately
      description: DEPRECATED USE account/{accountId}/callingplan INSTEAD -- Will swap the active calling plan immediately for the specified calling plan
      operationId: swapCallingPlan_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: CallingPlanX
                  $ref: '#/components/schemas/CallingPlanX'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
          schema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              originalRef: CallingPlanSwapX
              $ref: '#/components/schemas/CallingPlanSwapX'
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/cancelpendingcallingplan:
    delete:
      tags:
      - End User
      summary: ' Cancel Pending Callingplan'
      description: DEPRECATED USE account/{accountId}/callingplan INSTEAD -- Will cancel any pending calling plan
      operationId: cancelPendingCallingPlan_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: CallingPlanX
                  $ref: '#/components/schemas/CallingPlanX'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
          schema:
            type: array
            items:
              originalRef: CallingPlanX
              $ref: '#/components/schemas/CallingPlanX'
      deprecated: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/voicemail:
    get:
      tags:
      - End User
      summary: Retrieve end user voicemail
      description: Use to retrieve a end user's voicemail
      operationId: getVoicemailData
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: VoicemailMessageX
              $ref: '#/components/schemas/VoicemailMessageX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: VoicemailMessageX
                  $ref: '#/components/schemas/VoicemailMessageX'
        '400':
          description: Invalid account ID or end user ID
        '404':
          description: Account or end user not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: VoicemailMessageX
              $ref: '#/components/schemas/VoicemailMessageX'
          schema:
            type: array
            items:
              originalRef: VoicemailMessageX
              $ref: '#/components/schemas/VoicemailMessageX'
        '400':
          description: Invalid account ID or end user ID
        '404':
          description: Account or end user not found
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/unlockvm:
    put:
      tags:
      - End User
      summary: Unlock end user voicemail
      description: Use to unlock a end user's voicemail
      operationId: unlockVm
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      - name: resetPin
        in: query
        description: New voicemail Pin
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserV2X
                $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid user ID or pin
        '404':
          description: End user not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid user ID or pin
        '404':
          description: End user not found
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/resetpassword:
    put:
      tags:
      - End User
      summary: Reset end user password
      description: Use to reset the password of a end user
      operationId: resetPassword_2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserV2X
                $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID
        '404':
          description: User not found
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/repurpose:
    put:
      tags:
      - End User
      summary: Repurpose an existing user to be a different user (end user swap)
      description: Use to reuse a user for a new user
      operationId: repurposeEndUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          content:
            application/json:
              schema:
                originalRef: EndUserV2X
                $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID or user object
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
          schema:
            originalRef: EndUserV2X
            $ref: '#/components/schemas/EndUserV2X_2'
        '400':
          description: Invalid end user ID or user object
        '404':
          description: User not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: ReassignEndUserX
              $ref: '#/components/schemas/ReassignEndUserX_2'
        description: End user data to overwrite existing user data
        required: true
components:
  schemas:
    TelephoneNumberAccountV2X_2:
      type: object
      properties:
        phoneNumber:
          type: string
        referenceType:
          type: string
          enum:
          - SIP_TRUNK
          - END_USER
          - IVR
          - LINE_APPEARANCE
          - LINE_HUNTGROUP
          - TELEPHONE
          - VFAX
          - BUSINESS_LINE
          - BUSINESS_LINE_HUNT_GROUP
          - CALL_GROUP
          - CALL_QUEUE
          - AUTO_ATTENDANT
          - SPECIALTY_LINE
          - CONTACT_CENTER
        referenceId:
          type: string
        functionType:
          type: string
          enum:
          - ELS
          - TollFree
          - TemporaryNumber
          - SPTN
        canAcceptSMS:
          type: boolean
        operationalStatus:
          type: string
          enum:
          - ACTIVE
          - STAGED
        portId:
          type: string
        servicePackageType:
          type: string
          enum:
          - Usage
          - PrimaryLocalFlatRate
          - PrimaryLocalAndDomesticLDFlatRate
          - SecondaryLocalFlatRate
          - SecondaryLocalAndDomesticLDFlatRate
        accountId:
          type: string
        partitionId:
          type: string
        customerServiceRecord:
          originalRef: CustomerServiceRecordX
          $ref: '#/components/schemas/CustomerServiceRecordX_2'
        carrierStatus:
          type: string
          enum:
          - ACTIVE
          - ACTIVATION_ON_HOLD
          - ACTIVATION_PENDING
          - PORT_PENDING
          - CANCEL_PORT
          - CANCEL_PORT_EXPIDITED
          - DELETE_PENDING
          - DELETED
          - CANCEL_PORT_COMPLETE
          - PORT_REJECTED
          - INVENTORY
          - INVENTORY_CLAIMED
          - COOLDOWN
          - RECOVERED
        orderVersion:
          type: string
        e911Address:
          originalRef: E911AddressX
          $ref: '#/components/schemas/E911AddressX'
        temporaryNumber:
          type: string
        directoryListing:
          originalRef: DirectoryListingX
          $ref: '#/components/schemas/DirectoryListingX_2'
        assignAsCallerId:
          type: boolean
        byotnCarrierId:
          type: string
        ringType:
          type: string
          description: Default ringtype for this phone
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
        carrierId:
          type: string
        id:
          type: string
        tollFree:
          type: boolean
    CallHandlingX:
      type: object
      properties:
        type:
          type: string
          enum:
          - Forward
          - Voicemail
          - Busy
        forwardToNumber:
          type: string
        description:
          type: string
    CallingPlanSwapX:
      type: object
      properties:
        swapCallingPlanProductId:
          type: string
        newMinutesUsed:
          type: integer
          format: int32
    CallHandlingScheduleX_2:
      type: object
      properties:
        schedule:
          originalRef: ScheduleX
          $ref: '#/components/schemas/ScheduleX_2'
        callHandling:
          originalRef: CallHandlingSettingsX
          $ref: '#/components/schemas/CallHandlingSettingsX_2'
    VoicemailMessageX:
      type: object
      properties:
        id:
          type: string
        createdDate:
          type: string
          format: date-time
          description: date the message was left
        fromName:
          type: string
          description: callerId name of caller that left message, if available
        fromNumber:
          type: string
          description: callerId number of caller that left message, if available
        lengthInPages:
          type: integer
          format: int32
          description: length of message in pages, if it is a FAX
        lengthInSeconds:
          type: integer
          format: int32
          description: length of message in pages, if it is a VOICE message
        read:
          type: boolean
          description: has the message been seen / opened / read
        sizeInBytes:
          type: integer
          format: int64
          description: size of message in bytes
        messageType:
          type: string
          description: type of message
          enum:
          - FAX
          - VOICE
        voicemailBoxId:
          type: string
          description: voicemail box id
        accountId:
          type: string
          description: Account of the voicemail box
        partitionId:
          type: string
          description: Partition of the account
        toPhoneNumber:
          type: string
          description: The to number associated with the voicemail message
        transcriptionStatus:
          type: string
          description: The status of the transcription
        transcriptionInfo:
          type: string
          description: Details (quality, etc...) about the transcription
        transcriptionText:
          type: string
          description: The resulting text of the transcribed message
        storageId:
          type: string
          format: uuid
          description: The storage id of audio file
        audioFileAndType:
          type: string
          description: The type of audio file
    CallingPlanX:
      type: object
      properties:
        id:
          type: string
        referenceId:
          type: string
        referenceType:
          type: string
          enum:
          - SIP_TRUNK
          - END_USER
          - IVR
          - ACCOUNT
          - SPECIALTY_LINE
          - CONTACT_CENTER
        callingPlanProductId:
          type: string
        endDate:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        planMinutes:
          type: integer
          format: int32
        secondsRemaining:
          type: integer
          format: int64
    ReassignEndUserX_2:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        emailAddress:
          type: string
        username:
          type: string
        blockEmail:
          type: boolean
    AddressX_2:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        middleInitial:
          type: string
        lastName:
          type: string
        businessName:
          type: string
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
    E911AddressX:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        middleInitial:
          type: string
        lastName:
          type: string
        businessName:
          type: string
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
        customerType:
          type: string
          enum:
          - BUSINESS
          - RESIDENTIAL
        latitude:
          type: string
          description: -90 through 90, 4-6 decimals
        longitude:
          type: string
          description: -180 through 180, 4-6 decimals
        language:
          type: string
          description: Optional, see /v2/ref/language for supported languages
    FindMeEndpointX_2:
      type: object
      properties:
        ringUserDevice:
          type: boolean
        toNumber:
          type: string
        description:
          type: string
        timeout:
          type: integer
          format: int32
    TnData:
      type: object
      properties:
        tn:
          type: string
        rateCenter:
          type: string
        wireless:
          type: boolean
    UserGroupX:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    LatLongCustomerServiceRecordX_2:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        middleInitial:
          type: string
        lastName:
          type: string
        businessName:
          type: string
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
        customerType:
          type: string
          enum:
          - BUSINESS
          - RESIDENTIAL
        firstNameSecondary:
          type: string
        blockCustomerName:
          type: boolean
        customerName:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    CustomScheduleX_2:
      type: object
      properties:
        date:
          type: string
          format: date-time
        startTime:
          type: string
        endTime:
          type: string
    CustomerServiceRecordX_2:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        middleInitial:
          type: string
        lastName:
          type: string
        businessName:
          type: string
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
        customerType:
          type: string
          enum:
          - BUSINESS
          - RESIDENTIAL
        firstNameSecondary:
          type: string
        blockCustomerName:
          type: boolean
        customerName:
          type: string
    DirectoryListingX_2:
      type: object
      properties:
        listed:
          type: boolean
        type:
          type: string
          enum:
          - ERROR
          - LIST_PUBLISH
          - LIST_NOT_PUBLISH
          - NOT_LIST_NOT_PUBLISH
          - PORTED
          - COMPLEX
        address:
          originalRef: AddressX
          $ref: '#/components/schemas/AddressX_2'
    CallScreeningSettingsX_2:
      type: object
      properties:
        anonymousCallScreen:
          type: string
          enum:
          - Allow
          - Block
          - Voicemail
          - Forward
          - VipRing
          - BlockWithPrompt
        anonymousRingType:
          type: string
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
        tollFreeCallScreen:
          type: string
          enum:
          - Allow
          - Block
          - Voicemail
          - Forward
          - VipRing
          - BlockWithPrompt
        tollFreeRingType:
          type: string
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
        defaultCallScreen:
          type: string
          enum:
          - Allow
          - Block
          - Voicemail
          - Forward
          - VipRing
          - BlockWithPrompt
        defaultRingType:
          type: string
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
        customCallScreenList:
          type: array
          items:
            originalRef: CustomCallScreenX
            $ref: '#/components/schemas/CustomCallScreenX'
        forwardTn:
          type: string
    DynamicTelephoneNumberActivationX_2:
      type: object
      properties:
        partitionId:
          type: string
        accountId:
          type: string
        carrierId:
          type: string
        orderId:
          type: string
        tnQuantity:
          type: integer
          format: int32
        deviceId:
          type: string
        userId:
          type: string
        customerServiceRecord:
          originalRef: LatLongCustomerServiceRecordX
          $ref: '#/components/schemas/LatLongCustomerServiceRecordX_2'
        directoryListing:
          originalRef: DirectoryListingX
          $ref: '#/components/schemas/DirectoryListingX_2'
        e911Address:
          originalRef: E911AddressX
          $ref: '#/components/schemas/E911AddressX'
        tnSettings:
          originalRef: TelephoneNumberAccountBareX
          $ref: '#/components/schemas/TelephoneNumberAccountBareX'
        ringType:
          type: string
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
        archived:
          type: boolean
        alianzaOrderId:
          type: string
        id:
          type: string
    PortX_2:
      type: object
      properties:
        id:
          type: string
        partitionId:
          type: string
        accountId:
          type: string
        telephoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: telephoneNumber
        status:
          type: string
          enum:
          - ACTIVE
          - ACTIVATION_ON_HOLD
          - ACTIVATION_PENDING
          - PORT_PENDING
          - CANCEL_PORT
          - CANCEL_PORT_EXPIDITED
          - DELETE_PENDING
          - DELETED
          - CANCEL_PORT_COMPLETE
          - PORT_REJECTED
          - INVENTORY
          - INVENTORY_CLAIMED
          - COOLDOWN
          - RECOVERED
        sendLoa:
          type: boolean
        loaSaved:
          type: boolean
        carrierId:
          type: string
        carrierType:
          type: string
          enum:
          - LEVEL_3
          - NO_API
          - E911
          - TELUS
          - TELUS_API
          - TELUS_ONEVOICE
          - PROVTEL
          - VERIZON_CARIANZA
          - ONVOY_CARIANZA
          - LEVEL3_CARIANZA
          - BANDWIDTH
          - LUMEN_IMS
          - LUMEN_VOICE_LI_ELS
          - SINCH
          - SERVICE_PROVIDER_CARRIER
        customerServiceRecord:
          originalRef: CustomerServiceRecordX
          $ref: '#/components/schemas/CustomerServiceRecordX_2'
        crdDate:
          type: string
          format: date-time
        billingTelephoneNumber:
          type: string
        portingWireType:
          type: string
          enum:
          - Wireless
          - Wireline
        portingAuthorizedName:
          type: string
        wirelessAccountNumber:
          type: string
        wirelessPin:
          type: string
        focDate:
          type: string
          format: date-time
        focDateTimeZone:
          type: string
          enum:
          - US/Samoa
          - US/Hawaii
          - US/Alaska
          - US/Pacific
          - US/Arizona
          - US/Mountain
          - US/Central
          - US/Eastern
          - America/St_Thomas
          - Canada/Pacific
          - Canada/Mountain
          - Canada/Central
          - Canada/Eastern
          - Canada/Atlantic
          - Canada/Newfoundland
        createdDate:
          type: string
          format: date-time
        completedDate:
          type: string
          format: date-time
        cancelType:
          type: string
          enum:
          - NORMAL
          - EXPIDITED
          - BY_CARRIER
        telecomSettings:
          originalRef: TelecomSettingsX
          $ref: '#/components/schemas/TelecomSettingsX_2'
        hotCutPortId:
          type: string
        portNow:
          type: boolean
        canAcceptSMS:
          type: boolean
        smsCallbackUrl:
          type: string
    CallHandlingSettingsX_2:
      type: object
      properties:
        callWaitingEnabled:
          type: boolean
        doNotDisturbEnabled:
          type: boolean
        callHandlingOptionType:
          type: string
          enum:
          - RingPhone
          - ForwardAlways
          - SimultaneousRing
          - FindMeFollowMe
        forwardAlwaysToNumber:
          type: string
        forwardAlwaysToNumberDescription:
          type: string
        ringPhoneCallHandling:
          originalRef: RingPhoneCallHandlingX
          $ref: '#/components/schemas/RingPhoneCallHandlingX_2'
        simultaneousRingCallHandling:
          originalRef: SimultaneousRingCallHandlingX
          $ref: '#/components/schemas/SimultaneousRingCallHandlingX_2'
        findMeFollowMeCallHandling:
          originalRef: FindMeFollowMeCallHandlingX
          $ref: '#/components/schemas/FindMeFollowMeCallHandlingX_2'
    TelephoneNumberAccountBareX:
      type: object
      properties:
        phoneNumber:
          type: string
        referenceType:
          type: string
          enum:
          - SIP_TRUNK
          - END_USER
          - IVR
          - LINE_APPEARANCE
          - LINE_HUNTGROUP
          - TELEPHONE
          - VFAX
          - BUSINESS_LINE
          - BUSINESS_LINE_HUNT_GROUP
          - CALL_GROUP
          - CALL_QUEUE
          - AUTO_ATTENDANT
          - SPECIALTY_LINE
          - CONTACT_CENTER
        referenceId:
          type: string
        functionType:
          type: string
          enum:
          - ELS
          - TollFree
          - TemporaryNumber
          - SPTN
        canAcceptSMS:
          type: boolean
        operationalStatus:
          type: string
          enum:
          - ACTIVE
          - STAGED
        portId:
          type: string
        servicePackageType:
          type: string
          enum:
          - Usage
          - PrimaryLocalFlatRate
          - PrimaryLocalAndDomesticLDFlatRate
          - SecondaryLocalFlatRate
          - SecondaryLocalAndDomesticLDFlatRate
        tollFree:
          type: boolean
        id:
          type: string
    MediaFriendsX:
      type: object
      properties:
        enabled:
          type: boolean
        host:
          type: string
        toNumber:
          type: string
    CallerIdConfigX:
      type: object
      properties:
        callerIdNumber:
          type: string
        externalCallerIdVisible:
          type: boolean
        extensionCallerIdVisible:
          type: boolean
        callerIdNumberReservationId:
          type: string
      required:
      - callerIdNumber
      - extensionCallerIdVisible
      - externalCallerIdVisible
    EndUserV2X_2:
      type: object
      required:
      - timeZone
      properties:
        id:
          type: string
        username:
          type: string
        password:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        emailAddress:
          type: string
        mustChangePassword:
          type: boolean
        languageTag:
          type: string
        partitionId:
          type: string
        accountId:
          type: string
        callingPlans:
          type: array
          xml:
            wrapped: true
          description: callingPlans
          readOnly: true
          items:
            xml:
              name: callingPlan
            originalRef: CallingPlanX
            $ref: '#/components/schemas/CallingPlanX'
        devices:
          type: array
          xml:
            wrapped: true
          description: devices
          readOnly: true
          items:
            xml:
              name: device
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
        timeZone:
          type: string
          enum:
          - US/Samoa
          - US/Hawaii
          - US/Alaska
          - US/Pacific
          - US/Arizona
          - US/Mountain
          - US/Central
          - US/Eastern
          - America/St_Thomas
          - Canada/Pacific
          - Canada/Mountain
          - Canada/Central
          - Canada/Eastern
          - Canada/Atlantic
          - Canada/Newfoundland
        extension:
          type: string
        callerIdConfig:
          originalRef: CallerIdConfigX
          $ref: '#/components/schemas/CallerIdConfigX'
        callHandlingSettings:
          originalRef: CallHandlingSettingsX
          $ref: '#/components/schemas/CallHandlingSettingsX_2'
        callScreeningSettings:
          originalRef: CallScreeningSettingsX
          $ref: '#/components/schemas/CallScreeningSettingsX_2'
        newCppId:
          type: string
        mediaFriends:
          originalRef: MediaFriendsX
          $ref: '#/components/schemas/MediaFriendsX'
        callHandlingSchedules:
          type: array
          items:
            originalRef: CallHandlingScheduleX
            $ref: '#/components/schemas/CallHandlingScheduleX_2'
        voicemailBoxId:
          type: string
        endUserType:
          type: string
          enum:
          - ADMIN
          - ADVANCED_ADMIN
          - BASIC_ADMIN
          - STANDARD
          - STANDARD_ADMIN
          - SUPER_ADMIN
        userProductPlan:
          type: string
          enum:
          - STANDARD
          - ADVANCED
          - PROFESSIONAL
        softphoneClientType:
          type: string
          enum:
          - STRETTO
          - CYMBUS
        pinLockedOut:
          type: boolean
        welcomeEmailSent:
          type: string
          format: date-time
        blockEmail:
          type: boolean
        allowPortalAccess:
          type: boolean
        tags:
          type: string
        group:
          originalRef: UserGroupX
          $ref: '#/components/schemas/UserGroupX'
    DeviceX_2:
      type: object
      required:
      - accountId
      - deviceName
      - deviceTypeId
      - faxEnabled
      - id
      - partitionId
      - userId
      properties:
        id:
          type: string
        deviceTypeId:
          type: string
        accountId:
          type: string
        partitionId:
          type: string
        macAddress:
          type: string
        deviceName:
          type: string
        emergencyNumber:
          type: string
          description: Required if emergencyNumberReservationId is absent
        emergencyNumberReservationId:
          type: string
          description: Required if emergencyNumber is absent
        faxEnabled:
          type: boolean
        lineNumber:
          type: integer
          format: int32
          description: Required for POST & PUT operations only
        userId:
          type: string
        sipPassword:
          type: string
        sipUsername:
          type: string
          description: Required to be globally unique if specified
        zipcode:
          type: string
        state:
          type: string
        lineType:
          type: string
          enum:
          - Line
          - AdvancedSharedLine
          - ReferencedUser
          - IntercomLine
          - PresenceBlfUser
          - SpeedDialUser
          - SpeedDialTn
          - CallParkingSpot
          - SipPaging
        referenceId:
          type: string
          description: Changes Depending on LineType.  If LineType.Line then this should be null.   If LineType.ReferencedUser, PresenceBlfUser, or SpeedDialUser then this should be a valid userid.   If LineType.SpeedDialTn then this should be a valid phone number
    CallHandlingWithTimeoutX_2:
      type: object
      properties:
        type:
          type: string
          enum:
          - Forward
          - Voicemail
          - Busy
          - RingForever
        timeout:
          type: integer
          format: int32
        forwardToNumber:
          type: string
        description:
          type: string
    ScheduleX_2:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - CUSTOM
          - WEEKLY
        weekly:
          type: object
          additionalProperties:
            originalRef: WeeklyScheduleX
            $ref: '#/components/schemas/WeeklyScheduleX_2'
        custom:
          type: array
          items:
            originalRef: CustomScheduleX
            $ref: '#/components/schemas/CustomScheduleX_2'
    EndUserActivationV2X_2:
      type: object
      properties:
        device:
          originalRef: DeviceX
          $ref: '#/components/schemas/DeviceX_2'
        user:
          originalRef: EndUserV2X
          $ref: '#/components/schemas/EndUserV2X_2'
        telephoneNumberAccount:
          originalRef: TelephoneNumberAccountV2X
          $ref: '#/components/schemas/TelephoneNumberAccountV2X_2'
        dynamicTelephoneNumberActivation:
          originalRef: DynamicTelephoneNumberActivationX
          $ref: '#/components/schemas/DynamicTelephoneNumberActivationX_2'
        port:
          originalRef: PortX
          $ref: '#/components/schemas/PortX_2'
        holdActivation:
          type: boolean
    CustomCallScreenX:
      type: object
      properties:
        telephoneNumber:
          type: string
        blockType:
          type: string
          enum:
          - Allow
          - Block
          - Voicemail
          - Forward
          - VipRing
          - BlockWithPrompt
        ringType:
          type: string
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
    TelecomSettingsX_2:
      type: object
      properties:
        notes:
          type: string
        currentCarrier:
          type: string
        currentCarrierName:
          type: string
        localReseller:
          type: string
        loaDate:
          type: string
          format: date-time
        disconnectInternetService:
          type: boolean
        disconnectTelevisionService:
          type: boolean
        tnData:
          type: object
          additionalProperties:
            originalRef: TnData
            $ref: '#/components/schemas/TnData'
    FindMeFollowMeCallHandlingX_2:
      type: object
      properties:
        findMeEndpoints:
          type: array
          items:
            originalRef: FindMeEndpointX
            $ref: '#/components/schemas/FindMeEndpointX_2'
        timeoutType:
          type: string
          enum:
          - Forward
          - Voicemail
          - Busy
          - RingForever
    SimultaneousRingCallHandlingX_2:
      type: object
      properties:
        forwardToNumberList:
          type: array
          items:
            type: string
        noAnswerCallHandling:
          originalRef: CallHandlingWithTimeoutX
          $ref: '#/components/schemas/CallHandlingWithTimeoutX_2'
    RingPhoneCallHandlingX_2:
      type: object
      properties:
        busyCallHandling:
          originalRef: CallHandlingX
          $ref: '#/components/schemas/CallHandlingX'
        noAnswerCallHandling:
          originalRef: CallHandlingWithTimeoutX
          $ref: '#/components/schemas/CallHandlingWithTimeoutX_2'
        unregisteredCallHandling:
          originalRef: CallHandlingX
          $ref: '#/components/schemas/CallHandlingX'
    WeeklyScheduleX_2:
      type: object
      properties:
        startTime:
          type: string
        endTime:
          type: string
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
