openapi: 3.2.0
info:
  title: Alianza Device (Deprecated) Device (Deprecated) API
  version: '2'
  description: 'Operations tagged Device (Deprecated) across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Device (Deprecated)
paths:
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/device:
    get:
      tags:
      - Device (Deprecated)
      summary: Retrieve device list
      description: Use to retrieve a list of devices associated to an account and a user, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline endpoint instead
      operationId: listDeviceByUser
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX_2'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: DeviceX
                  $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid partition, account or user ID supplied
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX_2'
          schema:
            type: array
            items:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid partition, account or user ID supplied
        '404':
          description: User not found
      deprecated: true
    post:
      tags:
      - Device (Deprecated)
      summary: Create a new device
      description: Use to create a new device on a user, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline endpoint instead
      operationId: createDevice_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '201':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          content:
            application/json:
              schema:
                originalRef: DeviceX
                $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid device object supplied
        '404':
          description: Not found
      responsesObject:
        '201':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          schema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid device object supplied
        '404':
          description: Not found
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX_2'
        description: Device object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/device/validateproperties:
    get:
      tags:
      - Device (Deprecated)
      summary: Pre-validate property on the Device object
      description: DEPRECATED use /v2/partition/{id}/account/{id}/device/{macaddress}/validateproperties endpoint instead
      operationId: validateProperties_3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      - name: macaddress
        in: query
        description: Mac Address
        required: true
        schema:
          type: string
      - name: lineno
        in: query
        description: Line Number
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: boolean
          content:
            application/json:
              schema:
                type: boolean
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: boolean
          schema:
            type: boolean
      deprecated: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/device/{deviceId}/provisioningstatus:
    get:
      tags:
      - Device (Deprecated)
      summary: Retrieve device provisioning status
      description: Use to retrieve a device's provisioning status, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline/{id}/provisioningstatus endpoint instead
      operationId: getProvisioningStatus
      parameters:
      - name: deviceId
        in: path
        description: DeviceId
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceStatusX
            $ref: '#/components/schemas/DeviceStatusX'
          content:
            application/json:
              schema:
                originalRef: DeviceStatusX
                $ref: '#/components/schemas/DeviceStatusX'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceStatusX
            $ref: '#/components/schemas/DeviceStatusX'
          schema:
            originalRef: DeviceStatusX
            $ref: '#/components/schemas/DeviceStatusX'
        '404':
          description: Device not found
      deprecated: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/device/{deviceId}/registrationstatus:
    get:
      tags:
      - Device (Deprecated)
      summary: Retrieve device registration status
      description: Use to retrieve a device's registration status, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline/{id}/registrationstatus endpoint instead
      operationId: getRegistrationStatus_1
      parameters:
      - name: deviceId
        in: path
        description: DeviceId
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: RegistrationStatusX
            $ref: '#/components/schemas/RegistrationStatusX'
          content:
            application/json:
              schema:
                originalRef: RegistrationStatusX
                $ref: '#/components/schemas/RegistrationStatusX'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: RegistrationStatusX
            $ref: '#/components/schemas/RegistrationStatusX'
          schema:
            originalRef: RegistrationStatusX
            $ref: '#/components/schemas/RegistrationStatusX'
        '404':
          description: Device not found
      deprecated: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/device/{deviceId}:
    get:
      tags:
      - Device (Deprecated)
      summary: Retrieve device
      description: Use to retrieve a device, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline/{id} endpoint instead
      operationId: getDevice_1
      parameters:
      - name: deviceId
        in: path
        description: DeviceId
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          content:
            application/json:
              schema:
                originalRef: DeviceX
                $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid partition, account or user ID supplied
        '404':
          description: User not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          schema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid partition, account or user ID supplied
        '404':
          description: User not found
      deprecated: true
    put:
      tags:
      - Device (Deprecated)
      summary: Update device
      description: Use to update a device, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline/{id} endpoint instead
      operationId: updateDevice_1
      parameters:
      - name: deviceId
        in: path
        description: DeviceId
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          content:
            application/json:
              schema:
                originalRef: DeviceX
                $ref: '#/components/schemas/DeviceX_2'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          schema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
        '404':
          description: Device not found
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX_2'
        description: Device object
        required: true
    delete:
      tags:
      - Device (Deprecated)
      summary: Delete device
      description: Use to delete a device, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline/{id} endpoint instead
      operationId: removeDevice_1
      parameters:
      - name: deviceId
        in: path
        description: DeviceId
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '404':
          description: Device not found
      deprecated: true
    patch:
      tags:
      - Device (Deprecated)
      summary: Update device
      description: Use to update a device, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline/{id} endpoint instead
      operationId: patchDevice
      parameters:
      - name: deviceId
        in: path
        description: DeviceId
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          content:
            application/json:
              schema:
                originalRef: DeviceX
                $ref: '#/components/schemas/DeviceX_2'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          schema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
        '404':
          description: Device not found
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX_2'
        description: Device object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/user/{userId}/device/{deviceId}/swap:
    post:
      tags:
      - Device (Deprecated)
      summary: Swap device
      description: Use to replace an existing device with a new device, DEPRECATED use /v2/partition/{id}/account/{id}/deviceline/{id}/swap endpoint instead
      operationId: swapDevice_1
      parameters:
      - name: deviceId
        in: path
        description: DeviceId
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: ID of end-user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          content:
            application/json:
              schema:
                originalRef: DeviceX
                $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid MAC or device type supplied
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
          schema:
            originalRef: DeviceX
            $ref: '#/components/schemas/DeviceX_2'
        '400':
          description: Invalid MAC or device type supplied
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              originalRef: DeviceSwapX
              $ref: '#/components/schemas/DeviceSwapX_2'
        description: DeviceSwap object containing the new macAddress and deviceTypeId
        required: true
components:
  schemas:
    DeviceX_2:
      type: object
      required:
      - accountId
      - deviceName
      - deviceTypeId
      - faxEnabled
      - id
      - partitionId
      - userId
      properties:
        id:
          type: string
        deviceTypeId:
          type: string
        accountId:
          type: string
        partitionId:
          type: string
        macAddress:
          type: string
        deviceName:
          type: string
        emergencyNumber:
          type: string
          description: Required if emergencyNumberReservationId is absent
        emergencyNumberReservationId:
          type: string
          description: Required if emergencyNumber is absent
        faxEnabled:
          type: boolean
        lineNumber:
          type: integer
          format: int32
          description: Required for POST & PUT operations only
        userId:
          type: string
        sipPassword:
          type: string
        sipUsername:
          type: string
          description: Required to be globally unique if specified
        zipcode:
          type: string
        state:
          type: string
        lineType:
          type: string
          enum:
          - Line
          - AdvancedSharedLine
          - ReferencedUser
          - IntercomLine
          - PresenceBlfUser
          - SpeedDialUser
          - SpeedDialTn
          - CallParkingSpot
          - SipPaging
        referenceId:
          type: string
          description: Changes Depending on LineType.  If LineType.Line then this should be null.   If LineType.ReferencedUser, PresenceBlfUser, or SpeedDialUser then this should be a valid userid.   If LineType.SpeedDialTn then this should be a valid phone number
    RegistrationStatusX:
      type: object
      properties:
        registered:
          type: boolean
    DeviceSwapX_2:
      type: object
      properties:
        macAddress:
          type: string
        deviceTypeId:
          type: string
        deviceName:
          type: string
    DeviceStatusX:
      type: object
      properties:
        success:
          type: boolean
        failureMessage:
          type: string
        macAddress:
          type: string
        request:
          type: object
          additionalProperties:
            type: string
        response:
          type: object
          additionalProperties:
            type: string
        updated:
          type: string
          format: date-time
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
