openapi: 3.2.0
info:
  title: Alianza Virtual Fax Line API
  version: '2'
  description: 'Operations tagged Virtual Fax Line across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Virtual Fax Line
paths:
  /v2/partition/{partitionId}/account/{accountId}/vfax/{id}:
    get:
      tags:
      - Virtual Fax Line
      summary: Retrieve Virtual Fax Line
      description: Use to retrieve a Virtual Fax Line
      operationId: retrieveVFax
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: VirtualFaxLineID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          content:
            application/json:
              schema:
                originalRef: VirtualFaxLineX
                $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          schema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line ID supplied
        '404':
          description: Not found
    put:
      tags:
      - Virtual Fax Line
      summary: Update Virtual Fax Line
      description: Use to update a Virtual Fax Line
      operationId: updateVFax
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: VirtualFaxLineID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          content:
            application/json:
              schema:
                originalRef: VirtualFaxLineX
                $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line ID or Virtual Fax Line object supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          schema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line ID or Virtual Fax Line object supplied
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: VirtualFaxLineX
              $ref: '#/components/schemas/VirtualFaxLineX'
        description: Virtual Fax Line object
        required: true
    delete:
      tags:
      - Virtual Fax Line
      summary: Delete Virtual Fax Line
      description: Use to delete a Virtual Fax Line
      operationId: deleteVFax
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: VirtualFaxLineID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid Virtual Fax Line ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid Virtual Fax Line ID supplied
        '404':
          description: Not found
    patch:
      tags:
      - Virtual Fax Line
      summary: Update Virtual Fax Line
      description: Use to update a Virtual Fax Line
      operationId: patchVFax
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: VirtualFaxLineID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          content:
            application/json:
              schema:
                originalRef: VirtualFaxLineX
                $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line ID or Virtual Fax Line object supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          schema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line ID or Virtual Fax Line object supplied
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: VirtualFaxLineX
              $ref: '#/components/schemas/VirtualFaxLineX'
        description: Virtual Fax Line object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/vfax:
    get:
      tags:
      - Virtual Fax Line
      summary: Retrieve list of Virtual Fax Lines
      description: Use to retrieve a list of all Virtual Fax Lines on an account
      operationId: retrieveVFaxList
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: VirtualFaxLineX
              $ref: '#/components/schemas/VirtualFaxLineX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: VirtualFaxLineX
                  $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid partition or account ID supplied
        '404':
          description: List not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: VirtualFaxLineX
              $ref: '#/components/schemas/VirtualFaxLineX'
          schema:
            type: array
            items:
              originalRef: VirtualFaxLineX
              $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid partition or account ID supplied
        '404':
          description: List not found
    post:
      tags:
      - Virtual Fax Line
      summary: Create a Virtual Fax Line
      description: Use to create a VirtualFaxLine
      operationId: createVFax
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          content:
            application/json:
              schema:
                originalRef: VirtualFaxLineX
                $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line object supplied
        '404':
          description: Partition or account not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
          schema:
            originalRef: VirtualFaxLineX
            $ref: '#/components/schemas/VirtualFaxLineX'
        '400':
          description: Invalid Virtual Fax Line object supplied
        '404':
          description: Partition or account not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: VirtualFaxLineX
              $ref: '#/components/schemas/VirtualFaxLineX'
components:
  schemas:
    VirtualFaxLineX:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        emailAddresses:
          type: array
          items:
            type: string
          uniqueItems: true
        languageTag:
          type: string
        accountId:
          type: string
        partitionId:
          type: string
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
