openapi: 3.2.0
info:
  title: Alianza Call Parking Spot API
  version: '2'
  description: 'Operations tagged Call Parking Spot across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Call Parking Spot
paths:
  /v2/partition/{partitionId}/account/{accountId}/callpark:
    get:
      tags:
      - Call Parking Spot
      summary: Get call parking spot list
      description: Use to retrieve a list of call parking spots.
      operationId: getAllCallParkingSpots
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallParkingSpotX
              $ref: '#/components/schemas/CallParkingSpotX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: CallParkingSpotX
                  $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: CallParkingSpotX
              $ref: '#/components/schemas/CallParkingSpotX'
          schema:
            type: array
            items:
              originalRef: CallParkingSpotX
              $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
    post:
      tags:
      - Call Parking Spot
      summary: Create call parking spot
      description: Use to create a call parking spot
      operationId: createCallParkingSpot
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          content:
            application/json:
              schema:
                originalRef: CallParkingSpotX
                $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid call parking spot object
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          schema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid call parking spot object
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: CallParkingSpotX
              $ref: '#/components/schemas/CallParkingSpotX'
        description: Call Parking Spot object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/callpark/{spotId}:
    get:
      tags:
      - Call Parking Spot
      summary: Retrieve call parking spot
      description: Use to retrieve a call parking spot
      operationId: getCallParkingSpot
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: spotId
        in: path
        description: ID of call parking spot
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          content:
            application/json:
              schema:
                originalRef: CallParkingSpotX
                $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid account ID or call parking spot ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          schema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid account ID or call parking spot ID
        '404':
          description: Not found
    put:
      tags:
      - Call Parking Spot
      summary: Update call parking spot
      description: Use to update a call parking spot
      operationId: updateCallParkingSpot
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: spotId
        in: path
        description: ID of call parking spot
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          content:
            application/json:
              schema:
                originalRef: CallParkingSpotX
                $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid call parking spot ID or call parking spot object
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          schema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid call parking spot ID or call parking spot object
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: CallParkingSpotX
              $ref: '#/components/schemas/CallParkingSpotX'
        description: Call parking spot object
        required: true
    delete:
      tags:
      - Call Parking Spot
      summary: Delete call parking spot
      description: Use to delete a call parking spot
      operationId: deleteCallParkingSpot
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: spotId
        in: path
        description: ID of call parking spot
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid call parking spot ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid call parking spot ID
        '404':
          description: Not found
    patch:
      tags:
      - Call Parking Spot
      summary: Update call parking spot
      description: Use to update a call parking spot
      operationId: patchCallParkingSpot
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: spotId
        in: path
        description: ID of call parking spot
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          content:
            application/json:
              schema:
                originalRef: CallParkingSpotX
                $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid call parking spot ID or call parking spot object
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
          schema:
            originalRef: CallParkingSpotX
            $ref: '#/components/schemas/CallParkingSpotX'
        '400':
          description: Invalid call parking spot ID or call parking spot object
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: CallParkingSpotX
              $ref: '#/components/schemas/CallParkingSpotX'
        description: Call parking spot object
        required: true
components:
  schemas:
    CallParkingSpotX:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: string
        partitionId:
          type: string
        name:
          type: string
        spotNumber:
          type: string
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
