openapi: 3.2.0
info:
  description: '**This documentation of the Alianza Public API is outdated. No further updates will be
    made to it.**


    You are encouraged to use the [latest API documentation](https://developer.alianza.com/), found at
    [https://developer.alianza.com/](https://developer.alianza.com/)'
  version: '2'
  title: Alianza Public Device Provisioning API
tags:
- name: Device Provisioning
paths:
  /v2/partition/{partitionId}/deviceprovisioning/{macAddress}:
    get:
      tags:
      - Device Provisioning
      summary: Retrieve provisioning information for a specified device
      description: Provisioning Information
      operationId: getProvisioningByMacAddress
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: RequestedDeviceX
            $ref: '#/components/schemas/RequestedDeviceX'
          content:
            application/json:
              schema:
                originalRef: RequestedDeviceX
                $ref: '#/components/schemas/RequestedDeviceX'
        '400':
          description: User not found, partition not found or lack of permissions
        '404':
          description: Device Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: RequestedDeviceX
            $ref: '#/components/schemas/RequestedDeviceX'
          schema:
            originalRef: RequestedDeviceX
            $ref: '#/components/schemas/RequestedDeviceX'
        '400':
          description: User not found, partition not found or lack of permissions
        '404':
          description: Device Not found
  /v2/partition/{partitionId}/deviceprovisioning/account/{accountid}/device/{deviceid}:
    get:
      tags:
      - Device Provisioning
      summary: Retrieve provisioning information for a specified deviceid
      description: Provisioning Information
      operationId: getProvisioningByMacAddress_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountid
        in: path
        required: true
        schema:
          type: string
      - name: deviceid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: RequestedDeviceX
            $ref: '#/components/schemas/RequestedDeviceX'
          content:
            application/json:
              schema:
                originalRef: RequestedDeviceX
                $ref: '#/components/schemas/RequestedDeviceX'
        '400':
          description: Device not found, partition not found or lack of permissions
        '404':
          description: Device Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: RequestedDeviceX
            $ref: '#/components/schemas/RequestedDeviceX'
          schema:
            originalRef: RequestedDeviceX
            $ref: '#/components/schemas/RequestedDeviceX'
        '400':
          description: Device not found, partition not found or lack of permissions
        '404':
          description: Device Not found
components:
  schemas:
    RequestedDeviceX:
      type: object
      properties:
        macAddress:
          type: string
        deviceType:
          type: string
        lineCount:
          type: integer
          format: int32
        dialPlan:
          type: string
        hasFaxEnabledLine:
          type: boolean
        lines:
          type: array
          items:
            originalRef: RequestedDeviceLineX
            $ref: '#/components/schemas/RequestedDeviceLineX'
    RequestedDeviceLineX:
      type: object
      properties:
        macAddress:
          type: string
        lineNumber:
          type: integer
          format: int32
        userId:
          type: string
        displayName:
          type: string
        sipUsername:
          type: string
        sipPassword:
          type: string
        dialPlan:
          type: string
        server:
          type: string
        serverPort:
          type: string
        emergencyNumber:
          type: string
        enabled:
          type: boolean
        faxEnabled:
          type: boolean
servers:
- url: https://api.d2.alianza.com
  description: Base URL reconciled from _original
