openapi: 3.2.0
info:
  title: Alianza Calling Plan Product API
  version: '2'
  description: 'Operations tagged Calling Plan Product across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Calling Plan Product
paths:
  /v2/partition/{partitionId}/callingplanproduct/{cppId}:
    get:
      tags:
      - Calling Plan Product
      summary: Retrieve calling plan product
      description: Use to retrieve a calling plan product
      operationId: get_3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: cppId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          content:
            application/json:
              schema:
                originalRef: Calling Plan Product
                $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid ID supplied
        '404':
          description: Calling plan not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          schema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid ID supplied
        '404':
          description: Calling plan not found
    put:
      tags:
      - Calling Plan Product
      summary: Update calling plan product
      description: Use to update calling plan product
      operationId: update_5
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: cppId
        in: path
        description: ID of calling plan product
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          content:
            application/json:
              schema:
                originalRef: Calling Plan Product
                $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid ID or object supplied
        '404':
          description: Calling plan not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          schema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid ID or object supplied
        '404':
          description: Calling plan not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: Calling Plan Product
              $ref: '#/components/schemas/Calling_Plan_Product'
        description: Calling plan product object
        required: true
    patch:
      tags:
      - Calling Plan Product
      summary: Update calling plan product
      description: Use to update calling plan product
      operationId: patch_5
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: cppId
        in: path
        description: ID of calling plan product
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          content:
            application/json:
              schema:
                originalRef: Calling Plan Product
                $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid ID or object supplied
        '404':
          description: Calling plan not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          schema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid ID or object supplied
        '404':
          description: Calling plan not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: Calling Plan Product
              $ref: '#/components/schemas/Calling_Plan_Product'
        description: Calling plan product object
        required: true
  /v2/partition/{partitionId}/callingplanproduct:
    get:
      tags:
      - Calling Plan Product
      summary: Retrieve calling plan product list
      description: Use to retrieve a list of calling plan products
      operationId: retrieveCallingPlanProductList
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: includeArchived
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: Calling Plan Product
              $ref: '#/components/schemas/Calling_Plan_Product'
            uniqueItems: true
          content:
            application/json:
              schema:
                type: array
                uniqueItems: true
                items:
                  originalRef: Calling Plan Product
                  $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: Calling Plan Product
              $ref: '#/components/schemas/Calling_Plan_Product'
            uniqueItems: true
          schema:
            type: array
            uniqueItems: true
            items:
              originalRef: Calling Plan Product
              $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid partition ID supplied
        '404':
          description: Not found
    post:
      tags:
      - Calling Plan Product
      summary: Add calling plan product
      description: Use to add a calling plan product
      operationId: add_2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          content:
            application/json:
              schema:
                originalRef: Calling Plan Product
                $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid calling plan object supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          schema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
        '400':
          description: Invalid calling plan object supplied
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: Calling Plan Product
              $ref: '#/components/schemas/Calling_Plan_Product'
        description: Calling plan product object
        required: true
  /v2/partition/{partitionId}/callingplanproduct/import:
    post:
      tags:
      - Calling Plan Product
      operationId: add_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          content:
            application/json:
              schema:
                originalRef: Calling Plan Product
                $ref: '#/components/schemas/Calling_Plan_Product'
      responsesObject:
        '200':
          description: successful operation
          headers: {}
          responseSchema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
          schema:
            originalRef: Calling Plan Product
            $ref: '#/components/schemas/Calling_Plan_Product'
      requestBody:
        content:
          multipart/form-data:
            schema:
              originalRef: MultipartFormDataInput
              $ref: '#/components/schemas/MultipartFormDataInput_2'
  /v2/partition/{partitionId}/callingplanproduct/{cppId}/archive-callingplan:
    delete:
      tags:
      - Calling Plan Product
      summary: Archive calling plan product
      description: Use to archive calling plan product to make them unusable for future assignment
      operationId: archive
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: cppId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Calling plan not found
      responsesObject:
        '400':
          description: Invalid ID supplied
        '404':
          description: Calling plan not found
  /v2/partition/{partitionId}/callingplanproduct/{cppId}/callingplanproductdefinition:
    get:
      tags:
      - Calling Plan Product
      summary: Retrieve the calling plan definition
      description: Use to download the current calling plan definition
      operationId: telephoneNumberCSVReport_1
      parameters:
      - name: cppId
        in: path
        description: ID of calling plan product
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid partition ID or calling plan product ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid partition ID or calling plan product ID supplied
        '404':
          description: Not found
    post:
      tags:
      - Calling Plan Product
      summary: Add calling plan rates
      description: Use to add calling plan rates
      operationId: add_3
      parameters:
      - name: cppId
        in: path
        description: ID of calling plan product
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: FileImportValidationErrorX
                  $ref: '#/components/schemas/FileImportValidationErrorX'
        '400':
          description: Invalid partition ID or calling plan product ID supplied
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
          schema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
        '400':
          description: Invalid partition ID or calling plan product ID supplied
        '404':
          description: Not found
      requestBody:
        content:
          multipart/form-data:
            schema:
              originalRef: MultipartFormDataInput
              $ref: '#/components/schemas/MultipartFormDataInput_2'
        description: List of rates
        required: true
components:
  schemas:
    MultipartFormDataInput_2:
      type: object
    FileImportValidationErrorX:
      type: object
      properties:
        lineNumber:
          type: integer
          format: int32
        error:
          type: string
        column:
          type: string
        input:
          type: string
    Calling_Plan_Product:
      type: object
      properties:
        id:
          type: string
          description: Not required for POST operation
        name:
          type: string
        planMinutes:
          type: integer
          format: int32
        unlimitedDisplay:
          type: boolean
        allowOverage:
          type: boolean
        preventForwarding:
          type: boolean
        defaultPlan:
          type: boolean
        callRateFor411:
          type: number
          format: double
        allow411:
          type: boolean
        rateTypeFor411:
          type: string
          enum:
          - PER_CALL
          - PER_MINUTE
        callRateForOperator:
          type: number
          format: double
        allowOperator:
          type: boolean
        rateTypeForOperator:
          type: string
          enum:
          - PER_CALL
          - PER_MINUTE
        partitionId:
          type: string
        allowUnlimitedLocal:
          type: boolean
        rateIntraPartitionAsFree:
          type: boolean
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
