openapi: 3.2.0
info:
  title: Alianza Account Device API
  version: '2'
  description: 'Operations tagged Account Device across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Account Device
paths:
  /v2/partition/{partitionId}/account/{accountId}/device/{macAddress}:
    get:
      tags:
      - Account Device
      summary: List DeviceLines by MacAddress
      description: List DeviceLines by macAddress
      operationId: listDevices_1
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: DeviceX
                  $ref: '#/components/schemas/DeviceX'
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX'
          schema:
            type: array
            items:
              originalRef: DeviceX
              $ref: '#/components/schemas/DeviceX'
    post:
      tags:
      - Account Device
      summary: Bulk Import Device Lines
      description: 'Use to bulk import lines for a given device. Note: To use this you must already have a device line defined for this MacAddress'
      operationId: bulkImportDevice
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '201':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: FileImportValidationErrorX
                  $ref: '#/components/schemas/FileImportValidationErrorX'
      responsesObject:
        '201':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
          schema:
            type: array
            items:
              originalRef: FileImportValidationErrorX
              $ref: '#/components/schemas/FileImportValidationErrorX'
      requestBody:
        content:
          multipart/form-data:
            schema:
              originalRef: MultipartFormDataInput
              $ref: '#/components/schemas/MultipartFormDataInput'
        description: CSV list of device lines (LINE_NUMBER, LINE_TYPE, REFERENCED_USER_EXTENSION, SPEED_DIAL, SPEED_DIAL_DISPLAY_NAME)
        required: true
    delete:
      tags:
      - Account Device
      summary: Delete all devicelines (by mac)
      description: Use to delete a device and all its lines using the macaddress
      operationId: deleteDeviceByMac
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '404':
          description: Device not found
      responsesObject:
        '404':
          description: Device not found
  /v2/partition/{partitionId}/account/{accountId}/device/{macAddress}/csv:
    get:
      tags:
      - Account Device
      summary: CSV export of device lines
      description: CSV Export of device lines
      operationId: listDevicesCSV
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
  /v2/partition/{partitionId}/account/{accountId}/device/{macAddress}/metadata:
    get:
      tags:
      - Account Device
      summary: Device (by mac) Metadata
      description: Use to retrieve device (mac) metadata
      operationId: getDeviceMetadata
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          content:
            application/json:
              schema:
                originalRef: DeviceMetadataX
                $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          schema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
    put:
      tags:
      - Account Device
      summary: Device (by mac) Metadata
      description: Use to update device (mac) metadata
      operationId: updateDeviceMetadata
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          content:
            application/json:
              schema:
                originalRef: DeviceMetadataX
                $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          schema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: DeviceMetadataX
              $ref: '#/components/schemas/DeviceMetadataX'
        description: Device Metadata
        required: true
    patch:
      tags:
      - Account Device
      summary: Device (by mac) Metadata
      description: Use to update device (mac) metadata
      operationId: patchDeviceMetadata
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          content:
            application/json:
              schema:
                originalRef: DeviceMetadataX
                $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          schema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: DeviceMetadataX
              $ref: '#/components/schemas/DeviceMetadataX'
        description: Device Metadata
        required: true
  /v2/partition/{partitionId}/account/{accountId}/device/{macAddress}/provisioning:
    get:
      tags:
      - Account Device
      summary: Provisioning info for this device
      operationId: getProvisoningRequest
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ProvisioningRequestX
            $ref: '#/components/schemas/ProvisioningRequestX'
          content:
            application/json:
              schema:
                originalRef: ProvisioningRequestX
                $ref: '#/components/schemas/ProvisioningRequestX'
        '404':
          description: Device not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: ProvisioningRequestX
            $ref: '#/components/schemas/ProvisioningRequestX'
          schema:
            originalRef: ProvisioningRequestX
            $ref: '#/components/schemas/ProvisioningRequestX'
        '404':
          description: Device not found
  /v2/partition/{partitionId}/account/{accountId}/device/{macAddress}/metadata/generateadminpassword:
    post:
      tags:
      - Account Device
      summary: Device (by mac) Metadata
      description: Use to update device (mac) metadata
      operationId: generateAdminPassword
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '201':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          content:
            application/json:
              schema:
                originalRef: DeviceMetadataX
                $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
      responsesObject:
        '201':
          description: successful operation
          responseSchema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
          schema:
            originalRef: DeviceMetadataX
            $ref: '#/components/schemas/DeviceMetadataX'
        '404':
          description: Device not found
  /v2/partition/{partitionId}/account/{accountId}/device/{macAddress}/metadata/resetencryptionkey:
    post:
      tags:
      - Account Device
      summary: Device (by mac) Metadata
      description: Use to reset the current encryption key as though the device has been factory reset and needs to start over
      operationId: resetEncryptionKey
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '404':
          description: Device not found
      responsesObject:
        '404':
          description: Device not found
  /v2/partition/{partitionId}/account/{accountId}/device/{macAddress}/validateproperties:
    get:
      tags:
      - Account Device
      summary: Pre-validate property on the Device object
      description: ''
      operationId: validateProperties_2
      parameters:
      - name: macAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: lineno
        in: query
        description: Line Number
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: boolean
          content:
            application/json:
              schema:
                type: boolean
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: boolean
          schema:
            type: boolean
components:
  schemas:
    DeviceX:
      type: object
      required:
      - accountId
      - deviceName
      - deviceTypeId
      - faxEnabled
      - id
      - partitionId
      - userId
      properties:
        id:
          type: string
        deviceTypeId:
          type: string
        accountId:
          type: string
        partitionId:
          type: string
        macAddress:
          type: string
        deviceName:
          type: string
        emergencyNumber:
          type: string
          description: Required if emergencyNumberReservationId is absent
        emergencyNumberReservationId:
          type: string
          description: Required if emergencyNumber is absent
        faxEnabled:
          type: boolean
        lineNumber:
          type: integer
          format: int32
          description: Required for POST & PUT operations only
        userId:
          type: string
        sipPassword:
          type: string
        sipUsername:
          type: string
          description: Required to be globally unique if specified
        zipcode:
          type: string
        state:
          type: string
        lineType:
          type: string
          enum:
          - Line
          - AdvancedSharedLine
          - ReferencedUser
          - IntercomLine
          - PresenceBlfUser
          - SpeedDialUser
          - SpeedDialTn
          - CallParkingSpot
          - SipPaging
        referenceId:
          type: string
          description: Changes Depending on LineType.  If LineType.Line then this should be null.   If LineType.ReferencedUser, PresenceBlfUser, or SpeedDialUser then this should be a valid userid.   If LineType.SpeedDialTn then this should be a valid phone number
    MultipartFormDataInput:
      type: object
    ProvisioningRequestX:
      type: object
      properties:
        id:
          type: string
        requestDate:
          type: string
          format: date-time
        httpStatus:
          type: integer
          format: int32
        deviceId:
          type: string
        ipAddress:
          type: string
        userAgent:
          type: string
    FileImportValidationErrorX:
      type: object
      properties:
        lineNumber:
          type: integer
          format: int32
        error:
          type: string
        column:
          type: string
        input:
          type: string
    DeviceMetadataX:
      type: object
      properties:
        macAddress:
          type: string
        partitionId:
          type: string
        accountId:
          type: string
        deviceTypeId:
          type: string
        sideCarTypeId:
          type: string
        numSideCars:
          type: integer
          format: int32
        adminPassword:
          type: string
        provisionerType:
          type: string
          enum:
          - ALIANZA
          - PHONISM
        id:
          type: string
    DeviceX_2:
      type: object
      properties:
        id:
          type: string
          description: Not required for creating a new device line
        deviceTypeId:
          type: string
          description: 'Identifies the equipment as well as the features that the device supports. Refers to <a href="#/~schema/DeviceTypeX">deviceType.id</a>. See also: <a href="#/~operation/Reference%20Resources/getDeviceTypes">Get All Device Types</a> and <a href="#/~operation/Reference%20Resources/getDeviceTypeById">Get Device Type by ID</a>'
        accountId:
          type: string
          description: Not required for creating a new device line
        partitionId:
          type: string
          description: Not required for creating a new device line
        macAddress:
          type: string
          description: The 48-bit hexadecimal address assigned to the device by the manufacturer. Required if the device line refers to a physical device.  Must not be claimed in another device request.
        deviceName:
          type: string
        emergencyNumber:
          type: string
          description: Required if emergencyNumberReservationId is absent
        emergencyNumberReservationId:
          type: string
          description: Required if emergencyNumber is absent
        faxEnabled:
          type: boolean
        lineNumber:
          type: integer
          format: int32
          description: Required for POST & PUT operations only
        userId:
          type: string
        sipPassword:
          type: string
        sipUsername:
          type: string
          description: Required to be globally unique if specified
        zipcode:
          type: string
          deprecated: true
        state:
          type: string
          deprecated: true
        lineType:
          type: string
          enum:
          - Line
          - AdvancedSharedLine
          - ReferencedUser
          - IntercomLine
          - PresenceBlfUser
          - SpeedDialUser
          - SpeedDialTn
          - CallParkingSpot
          - SipPaging
          - Custom
        referenceId:
          type: string
          description: Changes Depending on LineType.  If LineType.Line then this should be null.   If LineType.ReferencedUser, PresenceBlfUser, or SpeedDialUser then this should be a valid userid.   If LineType.SpeedDialTn then this should be a valid phone number.
      required:
      - accountId
      - deviceName
      - deviceTypeId
      - faxEnabled
      - id
      - partitionId
      - userId
      - lineNumber
    MultipartFormDataInput_2:
      type: object
      properties:
        file:
          type: string
          format: binary
    PublicApiException:
      type: object
      properties:
        status:
          type: integer
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
          example:
            key: value
            key2: value2
    ProvisioningRequestX_2:
      type: object
      properties:
        id:
          type: string
          description: The 48-bit hexadecimal address assigned to the device by the manufacturer.
        requestDate:
          type: string
          format: date-time
          description: The ISO 8601 formatted date string indicating when the device last tried to retrieve provisioning data.
        httpStatus:
          type: integer
          format: int32
          description: The http status of the device's most recent request for provisioning.
        deviceId:
          type: string
          description: DeviceId, reference to <a href="#/~schema/DeviceX">device.id</a>
        ipAddress:
          type: string
        userAgent:
          type: string
          description: The user agent that was used to retrieve the provisioning data.
    DeviceMetadataX_2:
      type: object
      properties:
        macAddress:
          type: string
          description: The 48-bit hexadecimal address assigned to the device by the manufacturer.
        partitionId:
          type: string
          description: ID of partition, reference to <a href="#/~schema/Account">account.partitionId</a>
        accountId:
          type: string
          description: ID of account,  refers to <a href="#/~schema/Account">account.id</a>
        deviceTypeId:
          type: string
          description: 'The deviceTypeId identifies the equipment and the features that the device supports. Refers to <a href="#/~schema/DeviceTypeX">deviceType.id</a>. See also: <a href="#/~operation/Reference%20Resources/getDeviceTypes">Get All DeviceType</a> and <a href="#/~operation/Reference%20Resources/getDeviceTypeById">GetDeviceType</a>'
        sideCarTypeId:
          type: string
          description: 'The sideCarTypeId identifies the equipment and the features of the side car device. Refers to <a href="#/~schema/SideCarTypeX">sideCarType.id</a>. See also: <a href="#/~operation/Reference%20Resources/getSideCarTypes">Get All SideCar types</a> and <a href="#/~operation/Reference%20Resources/getSideCarTypeById">Get SideCarType</a>'
        numSideCars:
          type: integer
          format: int32
          description: The number of side cars assigned to this device.
        adminPassword:
          type: string
          description: If an admin password is supplied here, it will be applied to the device if a partition level setting is not present. The partition level setting can only be modified by an Alianza Admin. The partition level setting (Devcon - short for device configuration) is almost always supplied, making most uses of this field irrelevant. The adminPassword set by Devcon is NOT reported in this field.
        provisionerType:
          type: string
          description: Indicates what entity is responsible for provisioning the device. ALIANZA - Alianza is responsible for provisioning the device. PHONISM - Phonism, a third party service, is responsible for provisioning the device.
          enum:
          - ALIANZA
          - PHONISM
        id:
          type: string
          description: This field always refers to the macAddress.
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
