openapi: 3.2.0
info:
  title: Alianza Dynamic Inventory API
  version: '2'
  description: 'Operations tagged Dynamic Inventory across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Dynamic Inventory
paths:
  /v2/partition/{partitionId}/account/{accountId}/dynamic-inventory/tn-search:
    get:
      tags:
      - Dynamic Inventory
      summary: Retrieve telephone number list matching query parameters from carrier's dynamic…
      description: ''
      operationId: retrieveTnsFromCarriersDynamicInventory
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: npa
        in: query
        description: The three-digit number that identifies the telephone service region
        required: false
        schema:
          type: string
      - name: npa-nxx
        in: query
        description: A six-digit code that is used to identify telephone numbers
        required: false
        schema:
          type: string
      - name: qty
        in: query
        description: Desired quantity of telephone numbers
        required: false
        schema:
          type: integer
          format: int32
      - name: sequential
        in: query
        description: When true to returns sequential numbers
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: DynamicInventoryX
              $ref: '#/components/schemas/DynamicInventoryX'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: DynamicInventoryX
                  $ref: '#/components/schemas/DynamicInventoryX'
        '400':
          description: Invalid account ID supplied
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: DynamicInventoryX
              $ref: '#/components/schemas/DynamicInventoryX'
          schema:
            type: array
            items:
              originalRef: DynamicInventoryX
              $ref: '#/components/schemas/DynamicInventoryX'
        '400':
          description: Invalid account ID supplied
  /v2/partition/{partitionId}/account/{accountId}/dynamic-inventory/orders:
    post:
      tags:
      - Dynamic Inventory
      summary: Creates Dynamic inventory orders, those orders eventually will activate…
      description: ''
      operationId: createDynamicInventoryOrders
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DynamicInventoryOrderX
            $ref: '#/components/schemas/DynamicInventoryOrderX'
          content:
            application/json:
              schema:
                originalRef: DynamicInventoryOrderX
                $ref: '#/components/schemas/DynamicInventoryOrderX'
        '400':
          description: Invalid carrierId
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: DynamicInventoryOrderX
            $ref: '#/components/schemas/DynamicInventoryOrderX'
          schema:
            originalRef: DynamicInventoryOrderX
            $ref: '#/components/schemas/DynamicInventoryOrderX'
        '400':
          description: Invalid carrierId
      requestBody:
        content:
          application/json:
            schema:
              originalRef: DynamicTelephoneNumberActivationX
              $ref: '#/components/schemas/DynamicTelephoneNumberActivationX'
        description: Dynamic inventory order request object
        required: true
components:
  schemas:
    DynamicTelephoneNumberActivationX:
      type: object
      properties:
        partitionId:
          type: string
        accountId:
          type: string
        carrierId:
          type: string
        orderId:
          type: string
        tnQuantity:
          type: integer
          format: int32
        deviceId:
          type: string
        userId:
          type: string
        customerServiceRecord:
          originalRef: LatLongCustomerServiceRecordX
          $ref: '#/components/schemas/LatLongCustomerServiceRecordX'
        directoryListing:
          originalRef: DirectoryListingX
          $ref: '#/components/schemas/DirectoryListingX'
        e911Address:
          originalRef: E911AddressX
          $ref: '#/components/schemas/E911AddressX'
        tnSettings:
          originalRef: TelephoneNumberAccountBareX
          $ref: '#/components/schemas/TelephoneNumberAccountBareX'
        ringType:
          type: string
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
        archived:
          type: boolean
        alianzaOrderId:
          type: string
        id:
          type: string
    TelephoneNumberAccountBareX:
      type: object
      properties:
        phoneNumber:
          type: string
        referenceType:
          type: string
          enum:
          - SIP_TRUNK
          - END_USER
          - IVR
          - LINE_APPEARANCE
          - LINE_HUNTGROUP
          - TELEPHONE
          - VFAX
          - BUSINESS_LINE
          - BUSINESS_LINE_HUNT_GROUP
          - CALL_GROUP
          - CALL_QUEUE
          - AUTO_ATTENDANT
          - SPECIALTY_LINE
          - CONTACT_CENTER
        referenceId:
          type: string
        functionType:
          type: string
          enum:
          - ELS
          - TollFree
          - TemporaryNumber
          - SPTN
        canAcceptSMS:
          type: boolean
        operationalStatus:
          type: string
          enum:
          - ACTIVE
          - STAGED
        portId:
          type: string
        servicePackageType:
          type: string
          enum:
          - Usage
          - PrimaryLocalFlatRate
          - PrimaryLocalAndDomesticLDFlatRate
          - SecondaryLocalFlatRate
          - SecondaryLocalAndDomesticLDFlatRate
        id:
          type: string
        tollFree:
          type: boolean
    DirectoryListingX:
      type: object
      properties:
        listed:
          type: boolean
        type:
          type: string
          enum:
          - ERROR
          - LIST_PUBLISH
          - LIST_NOT_PUBLISH
          - NOT_LIST_NOT_PUBLISH
          - PORTED
          - COMPLEX
        address:
          originalRef: AddressX
          $ref: '#/components/schemas/AddressX'
    LatLongCustomerServiceRecordX:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        middleInitial:
          type: string
        lastName:
          type: string
        businessName:
          type: string
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
        customerType:
          type: string
          enum:
          - BUSINESS
          - RESIDENTIAL
        firstNameSecondary:
          type: string
        blockCustomerName:
          type: boolean
        customerName:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    DynamicInventoryX:
      type: object
      properties:
        carrierId:
          type: string
        orderId:
          type: string
        tns:
          type: array
          uniqueItems: true
          items:
            originalRef: DynamicInventoryOrderTelephoneNumberX
            $ref: '#/components/schemas/DynamicInventoryOrderTelephoneNumberX'
        id:
          type: string
    DynamicInventoryOrderX:
      type: object
      properties:
        partitionId:
          type: string
        accountId:
          type: string
        customerServiceRecord:
          originalRef: LatLongCustomerServiceRecordX
          $ref: '#/components/schemas/LatLongCustomerServiceRecordX'
        directoryListing:
          originalRef: DirectoryListingX
          $ref: '#/components/schemas/DirectoryListingX'
        e911Address:
          originalRef: E911AddressX
          $ref: '#/components/schemas/E911AddressX'
        inventory:
          type: array
          uniqueItems: true
          items:
            originalRef: DynamicInventoryX
            $ref: '#/components/schemas/DynamicInventoryX'
        id:
          type: string
    DynamicInventoryOrderTelephoneNumberX:
      type: object
      properties:
        tn:
          type: string
        id:
          type: string
    AddressX:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        middleInitial:
          type: string
        lastName:
          type: string
        businessName:
          type: string
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
    E911AddressX:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        middleInitial:
          type: string
        lastName:
          type: string
        businessName:
          type: string
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
        customerType:
          type: string
          enum:
          - BUSINESS
          - RESIDENTIAL
        latitude:
          type: string
          description: -90 through 90, 4-6 decimals
        longitude:
          type: string
          description: -180 through 180, 4-6 decimals
        language:
          type: string
          description: Optional, see /v2/ref/language for supported languages
    DynamicTelephoneNumberActivationX_2:
      type: object
      properties:
        partitionId:
          type: string
        accountId:
          type: string
        carrierId:
          type: string
        orderId:
          type: string
        tnQuantity:
          type: integer
          format: int32
        deviceId:
          type: string
        userId:
          type: string
        customerServiceRecord:
          $ref: '#/components/schemas/LatLongCustomerServiceRecordX_2'
        directoryListing:
          $ref: '#/components/schemas/DirectoryListingX_2'
        e911Address:
          $ref: '#/components/schemas/E911AddressX'
        tnSettings:
          $ref: '#/components/schemas/TelephoneNumberAccountBareX'
          required: true
        ringType:
          type: string
          enum:
          - StandardRing
          - Ring1
          - Ring2
          - Ring3
          - Ring4
          - Ring5
          - Ring6
          - Ring7
        archived:
          type: boolean
        alianzaOrderId:
          type: string
        id:
          type: string
    DirectoryListingX_2:
      type: object
      properties:
        listed:
          type: boolean
        type:
          type: string
          description: Indicates how a telephone number should be listed.  <span hidden>For more information on the directory listing process, please refer <a href="directoryListing.html#overview">here</a></span>
          enum:
          - ERROR
          - LIST_PUBLISH
          - LIST_NOT_PUBLISH
          - NOT_LIST_NOT_PUBLISH
          - PORTED
          - COMPLEX
        address:
          $ref: '#/components/schemas/AddressX_2'
    LatLongCustomerServiceRecordX_2:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
          minLength: 3
          maxLength: 256
        middleInitial:
          type: string
          minLength: 3
          maxLength: 256
        lastName:
          type: string
          minLength: 3
          maxLength: 256
        businessName:
          type: string
          minLength: 3
          maxLength: 256
        streetNumber:
          type: string
          minLength: 3
          maxLength: 256
        streetNumberSuffix:
          type: string
          minLength: 3
          maxLength: 256
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
          minLength: 3
          maxLength: 256
        streetSuffix:
          type: string
          minLength: 3
          maxLength: 256
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
          minLength: 3
          maxLength: 256
        state:
          type: string
          minLength: 3
          maxLength: 256
        country:
          type: string
          minLength: 3
          maxLength: 256
        postalCode:
          type: string
          minLength: 3
          maxLength: 256
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
          minLength: 0
          maxLength: 10
        customerType:
          type: string
          enum:
          - BUSINESS
          - RESIDENTIAL
        firstNameSecondary:
          type: string
          minLength: 3
          maxLength: 256
        blockCustomerName:
          type: boolean
        customerName:
          type: string
          minLength: 3
          maxLength: 256
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    DynamicInventoryX_2:
      type: object
      properties:
        carrierId:
          type: string
        orderId:
          type: string
        tns:
          type: array
          items:
            $ref: '#/components/schemas/DynamicInventoryOrderTelephoneNumberX'
          uniqueItems: true
        id:
          type: string
    PublicApiException:
      type: object
      properties:
        status:
          type: integer
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
          example:
            key: value
            key2: value2
    DynamicInventoryOrderX_2:
      type: object
      properties:
        partitionId:
          type: string
        accountId:
          type: string
        customerServiceRecord:
          $ref: '#/components/schemas/LatLongCustomerServiceRecordX_2'
        directoryListing:
          $ref: '#/components/schemas/DirectoryListingX_2'
        e911Address:
          $ref: '#/components/schemas/E911AddressX'
        inventory:
          type: array
          items:
            $ref: '#/components/schemas/DynamicInventoryX_2'
          uniqueItems: true
        id:
          type: string
    AddressX_2:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
          minLength: 1
          maxLength: 256
        middleInitial:
          type: string
          maxLength: 256
        lastName:
          type: string
          maxLength: 256
        businessName:
          type: string
          maxLength: 256
        streetNumber:
          type: string
        streetNumberSuffix:
          type: string
        preDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        streetName:
          type: string
          maxLength: 256
        streetSuffix:
          type: string
        postDirectional:
          type: string
          enum:
          - ''
          - N
          - NE
          - E
          - SE
          - S
          - SW
          - W
          - NW
        city:
          type: string
          maxLength: 256
        state:
          type: string
          description: A two-letter state abbreviation
        country:
          type: string
          description: Alianza supports accounts in USA and CAN
        postalCode:
          type: string
        secondaryLocationDescription:
          type: string
          enum:
          - ''
          - APARTMENT
          - BUILDING
          - BASEMENT
          - DEPARTMENT
          - FLOOR
          - FRONT
          - HANGER
          - KEY
          - LOBBY
          - LOT
          - LOWER
          - OFFICE
          - PENTHOUSE
          - PIER
          - REAR
          - ROOM
          - SIDE
          - SLIP
          - SPACE
          - SUITE
          - STOP
          - TRAILER
          - UNIT
          - UPPER
        unit:
          type: string
          maxLength: 10
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
