openapi: 3.2.0
info:
  title: Alianza Public User Groups API
  version: '2'
  description: "Welcome to the Alianza Public API documentation, based on the OpenAPI 3.0 specification.\n\n_If you need the Swagger 2.0/OAS 2.0 version of the Alianza Public API, click [here](https://api.alianza.com/v2/apidocs/)._\n\nAuthentication for most API endpoints requires the use of an <a href=\"data.html#xauthtoken\" hidden>X-AUTH-TOKEN</a> X-AUTH-TOKEN header. Please reach out to your account manager for login credentials.\nTo obtain an X-AUTH-TOKEN, use the POST /v2/authorize endpoint under the <a href=\"#/~operation/Authorize/\">Authorize</a> group, which will return an authToken value. \nClick the Authorize button below and provide the returned token. \n\n<div hidden>\nSome useful links:\n- [Brief introduction to Alianza components](data.html) such as Partitions, Accounts and Users\n</div>"
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
security:
- X-Auth-Token: []
tags:
- name: User Groups
  description: Operations for managing user groups.
paths:
  /v2/user-groups/settings:
    get:
      tags:
      - User Groups
      summary: Get user groups
      operationId: getUserGroups
      parameters:
      - name: partitionId
        in: query
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        required: false
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'
        '204':
          description: No content – operation completed successfully
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    post:
      tags:
      - User Groups
      summary: Create user group
      operationId: createUserGroup
      parameters:
      - name: partitionId
        in: query
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupRequest'
      responses:
        '200':
          description: User group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    put:
      tags:
      - User Groups
      summary: Update user group
      operationId: updateUserGroup
      parameters:
      - name: partitionId
        in: query
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupRequest'
      responses:
        '200':
          description: User group updated
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    delete:
      tags:
      - User Groups
      summary: Delete user group
      operationId: deleteUserGroup
      parameters:
      - name: partitionId
        in: query
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User group deleted
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
components:
  schemas:
    UserGroupRequest:
      type: object
      properties:
        partitionId:
          type: string
          example: partitionId123
        accountId:
          type: string
          example: accountId123
        groupId:
          type: string
          example: group1234
        groupName:
          type: string
          example: Group Name
        groupDescription:
          type: string
          example: Group Description
        userIds:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                example: ZXR1X6geTeCpzfHm-z-WbQ
              endUserType:
                type: string
                example: BASIC_ADMIN
    PublicApiException:
      type: object
      properties:
        status:
          type: integer
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
          example:
            key: value
            key2: value2
    UserGroupResponse:
      type: object
      properties:
        partitionId:
          type: string
          example: partitionId123
        accountId:
          type: string
          example: accountId123
        groupId:
          type: string
          example: group1234
        groupName:
          type: string
          example: Group Name
        groupDescription:
          type: string
          example: Group Description
        userIds:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                example: ZXR1X6geTeCpzfHm-z-WbQ
              endUserType:
                type: string
                example: BASIC_ADMIN
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
