openapi: 3.2.0
info:
  title: Alianza Paging Group API
  version: '2'
  description: 'Operations tagged Paging Group across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: Paging Group
paths:
  /v2/partition/{partitionId}/account/{accountId}/grouppaging:
    get:
      tags:
      - Paging Group
      summary: Get paging group list
      description: Use to retrieve a list of paging groups.
      operationId: getAllPagingGroups
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: PagingGroupX
              $ref: '#/components/schemas/PagingGroupX_2'
          content:
            application/json:
              schema:
                type: array
                items:
                  originalRef: PagingGroupX
                  $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: array
            items:
              originalRef: PagingGroupX
              $ref: '#/components/schemas/PagingGroupX_2'
          schema:
            type: array
            items:
              originalRef: PagingGroupX
              $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid partition or account ID
        '404':
          description: Not found
    post:
      tags:
      - Paging Group
      summary: Create paging group
      description: Use to create a paging group
      operationId: createPagingGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          content:
            application/json:
              schema:
                originalRef: PagingGroupX
                $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid paging group object
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          schema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid paging group object
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: PagingGroupX
              $ref: '#/components/schemas/PagingGroupX_2'
        description: Paging group object
        required: true
  /v2/partition/{partitionId}/account/{accountId}/grouppaging/{pagingGroupId}:
    get:
      tags:
      - Paging Group
      summary: Retrieve paging group
      description: Use to retrieve a paging group
      operationId: getPagingGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: pagingGroupId
        in: path
        description: ID of paging group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          content:
            application/json:
              schema:
                originalRef: PagingGroupX
                $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid account ID or paging group ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          schema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid account ID or paging group ID
        '404':
          description: Not found
    put:
      tags:
      - Paging Group
      summary: Update paging group
      description: Use to update a paging group
      operationId: updatePagingGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: pagingGroupId
        in: path
        description: ID of paging group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          content:
            application/json:
              schema:
                originalRef: PagingGroupX
                $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid paging group ID or paging group object
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          schema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid paging group ID or paging group object
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: PagingGroupX
              $ref: '#/components/schemas/PagingGroupX_2'
        description: Paging group object
        required: true
    delete:
      tags:
      - Paging Group
      summary: Delete paging group
      description: Use to delete a paging group
      operationId: deletePagingGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: pagingGroupId
        in: path
        description: ID of paging group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid paging group ID
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid paging group ID
        '404':
          description: Not found
    patch:
      tags:
      - Paging Group
      summary: Update paging group
      description: Use to update a paging group
      operationId: patchPagingGroup
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: pagingGroupId
        in: path
        description: ID of paging group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          content:
            application/json:
              schema:
                originalRef: PagingGroupX
                $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid paging group ID or paging group object
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
          schema:
            originalRef: PagingGroupX
            $ref: '#/components/schemas/PagingGroupX_2'
        '400':
          description: Invalid paging group ID or paging group object
        '404':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              originalRef: PagingGroupX
              $ref: '#/components/schemas/PagingGroupX_2'
        description: Paging group object
        required: true
components:
  schemas:
    PagingGroupX_2:
      type: object
      properties:
        type:
          type: string
          enum:
          - STANDARD
          - PRIORITY
          - EMERGENCY
        partitionId:
          type: string
        accountId:
          type: string
        id:
          type: string
        name:
          type: string
        extension:
          type: string
        groupIds:
          type: array
          uniqueItems: true
          items:
            type: string
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
