openapi: 3.2.0
info:
  title: Alianza CD Rs API
  version: '2'
  description: 'Operations tagged CDRs across 2 of this provider''s published API definitions: alianza-apidocs-swagger2-original.json, alianza-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
tags:
- name: CDRs
paths:
  /v2/partition/{partitionId}/account/{accountId}/cdrsearch/csv:
    get:
      tags:
      - CDRs
      summary: CDR record search
      description: Use to search for CDR records
      operationId: cdrSearchCSV
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End date
        required: true
        schema:
          type: string
      - name: firstResultIndex
        in: query
        description: First result to display, defaults to 0
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: maxResult
        in: query
        description: Maximum number to return, defaults to 20
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sort
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - COST
          - CALL_LENGTH
          - DATE
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: minCost
        in: query
        description: Specifies the minimum cost of the CDR
        required: false
        schema:
          type: number
          format: double
      - name: callType
        in: query
        description: Filter based on call type [INBOUND|OUTBOUND]
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - INBOUND
            - OUTBOUND
      - name: callFlagType
        in: query
        description: Filter based on call flag type
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - MISSED
            - VOICEMAIL
            - FORWARDED
            - BUSY
            - ANSWERED
            - OTHER
            - PICKUP
            - PICKED_UP
      - name: callCategory
        in: query
        description: Filter based on call category
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - OffNet
            - OnNet
            - DirectoryAssistance
            - Emergency
            - Operator
            - PhoneSupport
            - TeleRelayService
            - NonEmergencyServices
            - Other
            - PublicServices
            - NotResolved
            - EmergencyServicesVerification
            - DomesticViolenceHotline
      - name: origNumber
        in: query
        description: Filter based on origination number
        required: false
        schema:
          type: string
      - name: dialedNumber
        in: query
        description: Filter based on dialed number
        required: false
        schema:
          type: string
      - name: termNumber
        in: query
        description: Filter based on termination number
        required: false
        schema:
          type: string
      - name: startTime
        in: query
        description: Filter based on start time
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        description: Filter based on end time
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            type: string
          schema:
            type: string
        '400':
          description: Invalid
        '404':
          description: Not found
      deprecated: true
  /v2/partition/{partitionId}/account/{accountId}/cdrsearch/csv_2:
    get:
      tags:
      - CDRs
      summary: CDR record search
      description: Use to search for CDR records
      operationId: cdrSearchCSV_2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End date
        required: true
        schema:
          type: string
      - name: firstResultIndex
        in: query
        description: First result to display, defaults to 0
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: maxResult
        in: query
        description: Maximum number to return, defaults to 20
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sort
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - COST
          - CALL_LENGTH
          - DATE
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: minCost
        in: query
        description: Specifies the minimum cost of the CDR
        required: false
        schema:
          type: number
          format: double
      - name: callType
        in: query
        description: Filter based on call type [INBOUND|OUTBOUND]
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - INBOUND
            - OUTBOUND
      - name: callFlagType
        in: query
        description: Filter based on call flag type
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - MISSED
            - VOICEMAIL
            - FORWARDED
            - BUSY
            - ANSWERED
            - OTHER
            - PICKUP
            - PICKED_UP
      - name: callCategory
        in: query
        description: Filter based on call category
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - OffNet
            - OnNet
            - DirectoryAssistance
            - Emergency
            - Operator
            - PhoneSupport
            - TeleRelayService
            - NonEmergencyServices
            - Other
            - PublicServices
            - NotResolved
            - EmergencyServicesVerification
            - DomesticViolenceHotline
      - name: origNumber
        in: query
        description: Filter based on origination number
        required: false
        schema:
          type: string
      - name: dialedNumber
        in: query
        description: Filter based on dialed number
        required: false
        schema:
          type: string
      - name: termNumber
        in: query
        description: Filter based on termination number
        required: false
        schema:
          type: string
      - name: startTime
        in: query
        description: Filter based on start time
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        description: Filter based on end time
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          content:
            text/csv:
              schema:
                originalRef: Job
                $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
          schema:
            originalRef: Job
            $ref: '#/components/schemas/Job_2'
        '202':
          description: Use Jobs API to check status
  /v2/partition/{partitionId}/account/{accountId}/cdrsearch:
    get:
      tags:
      - CDRs
      summary: CDR record search
      description: Use to search for CDR records
      operationId: cdrSearch
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        required: false
        schema:
          type: string
      - name: partitionId
        in: path
        description: ID of partition
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End date
        required: true
        schema:
          type: string
      - name: firstResultIndex
        in: query
        description: First result to display, defaults to 0
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: maxResult
        in: query
        description: Maximum number to return, defaults to 20
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sort
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - COST
          - CALL_LENGTH
          - DATE
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: minCost
        in: query
        description: Specifies the minimum cost of the CDR
        required: false
        schema:
          type: number
          format: double
      - name: callType
        in: query
        description: Filter based on call type [INBOUND|OUTBOUND]
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - INBOUND
            - OUTBOUND
      - name: callFlagType
        in: query
        description: Filter based on call flag type
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - MISSED
            - VOICEMAIL
            - FORWARDED
            - BUSY
            - ANSWERED
            - OTHER
            - PICKUP
            - PICKED_UP
      - name: callCategory
        in: query
        description: Filter based on call category
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - OffNet
            - OnNet
            - DirectoryAssistance
            - Emergency
            - Operator
            - PhoneSupport
            - TeleRelayService
            - NonEmergencyServices
            - Other
            - PublicServices
            - NotResolved
            - EmergencyServicesVerification
            - DomesticViolenceHotline
      - name: origNumber
        in: query
        description: Filter based on origination number
        required: false
        schema:
          type: string
      - name: dialedNumber
        in: query
        description: Filter based on dialed number
        required: false
        schema:
          type: string
      - name: termNumber
        in: query
        description: Filter based on termination number
        required: false
        schema:
          type: string
      - name: startTime
        in: query
        description: Filter based on start time
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        description: Filter based on end time
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallDetailRecordSearchResponse
            $ref: '#/components/schemas/CallDetailRecordSearchResponse_2'
          content:
            application/json:
              schema:
                originalRef: CallDetailRecordSearchResponse
                $ref: '#/components/schemas/CallDetailRecordSearchResponse_2'
            application/xml:
              schema:
                originalRef: CallDetailRecordSearchResponse
                $ref: '#/components/schemas/CallDetailRecordSearchResponse_2'
            text/csv:
              schema:
                originalRef: CallDetailRecordSearchResponse
                $ref: '#/components/schemas/CallDetailRecordSearchResponse_2'
        '400':
          description: Invalid
        '404':
          description: Not found
      responsesObject:
        '200':
          description: successful operation
          responseSchema:
            originalRef: CallDetailRecordSearchResponse
            $ref: '#/components/schemas/CallDetailRecordSearchResponse_2'
          schema:
            originalRef: CallDetailRecordSearchResponse
            $ref: '#/components/schemas/CallDetailRecordSearchResponse_2'
        '400':
          description: Invalid
        '404':
          description: Not found
components:
  schemas:
    CallDetailRecord_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        partitionId:
          type: string
        startTime:
          type: integer
          format: int64
        connectTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        createdDate:
          type: integer
          format: int64
        actualCallLengthSeconds:
          type: integer
          format: int64
        billCallLengthSeconds:
          type: integer
          format: int64
        ratePerMinute:
          type: number
          format: double
        cost:
          type: number
        inPlan:
          type: boolean
        dialedNumber:
          type: string
        origNumber:
          type: string
        origLocation:
          type: string
        origCityName:
          type: string
        origAbbrRCName:
          type: string
        origState:
          type: string
        origCountry:
          type: string
        origCarrier:
          type: string
        origCallCategory:
          type: string
          enum:
          - OffNet
          - OnNet
          - DirectoryAssistance
          - Emergency
          - Operator
          - PhoneSupport
          - TeleRelayService
          - NonEmergencyServices
          - Other
          - PublicServices
          - NotResolved
          - EmergencyServicesVerification
          - DomesticViolenceHotline
        identityAttestLevel:
          type: string
        identityOriginationId:
          type: string
        identitySignOrganization:
          type: string
        identitySignSPCode:
          type: string
        verstat:
          type: string
          enum:
          - TN_VALIDATION_PASSED
          - TN_VALIDATION_FAILED
          - NO_TN_VALIDATION
        verstatReason:
          type: string
          enum:
          - BAD_IDENTITY_INFO
          - CLAIM_TO_SIP_MISMATCH
          - IDENTITY_HEADER_REQUIRED
          - INVALID_IDENTITY_HEADER
          - MALFORMED_IDENTITY_HEADER
          - STALE_DATE
          - UNSUPPORTED_CREDENTIAL
          - UNSUPPORTED_PASSPORT_FORMAT
        correlationData:
          type: object
          additionalProperties:
            type: array
            uniqueItems: true
            items:
              type: string
        accountCode:
          type: string
        termNumber:
          type: string
        termLocation:
          type: string
        termCityName:
          type: string
        termAbbrRCName:
          type: string
        termState:
          type: string
        termCountry:
          type: string
        termCarrier:
          type: string
        termCallCategory:
          type: string
          enum:
          - OffNet
          - OnNet
          - DirectoryAssistance
          - Emergency
          - Operator
          - PhoneSupport
          - TeleRelayService
          - NonEmergencyServices
          - Other
          - PublicServices
          - NotResolved
          - EmergencyServicesVerification
          - DomesticViolenceHotline
        forwardingNumber:
          type: string
        forwardingNumberCityName:
          type: string
        forwardingNumberAbbrRCName:
          type: string
        forwardingNumberLocation:
          type: string
        forwardingNumberState:
          type: string
        forwardingNumberCountry:
          type: string
        mediaServerType:
          type: string
        legType:
          type: string
          enum:
          - Origination
          - Termination
          - Forward
        callType:
          type: string
          enum:
          - INBOUND
          - OUTBOUND
        callFlagType:
          type: string
          enum:
          - MISSED
          - VOICEMAIL
          - FORWARDED
          - BUSY
          - ANSWERED
          - OTHER
          - PICKUP
          - PICKED_UP
        disconnectType:
          type: string
          enum:
          - Busy
          - NoAnswer
          - HangUp
          - HangUpOther
          - BlindTransfer
          - SupervisedTransfer
          - Error
          - Cancelled
          - NextMenu
          - NetworkBusy
          - Unauthorized
          - PickedUp
          - NoURL
          - BadURL
          - URLExpired
          - NoCallWaiting
          - ImportantCall
          - RefreshTimeout
          - LocationCapacity
          - Capacity
          - SystemHangUp
          - Rejected
          - NotFound
          - Other
          - Forward
          - Screened
          - Unregistered
          - DoNotOriginate
        metroServiceArea:
          type: string
        rateType:
          type: string
          enum:
          - Local
          - OnPlanMinutes
          - OnPlanRated
          - OffPlanRated
          - Free
          - TollFree
          - _411
          - Operator
          - IntraPartitionFree
          - SipTrunkInbound
        rateLocalFromNumber:
          type: string
        serviceType:
          type: string
          enum:
          - INTERSTATE
          - INTRASTATE
          - INTERNATIONAL
          - TOLL_FREE
          - NOT_APPLICABLE
          - UNKNOWN
        local:
          type: boolean
        sessionId:
          type: string
        accountBillableNumber:
          type: string
        accountBillableCityName:
          type: string
        accountBillableAbbrRCName:
          type: string
        accountBillableLocation:
          type: string
        accountBillableState:
          type: string
        accountBillableCountry:
          type: string
        referenceId:
          type: string
        referenceType:
          type: string
          enum:
          - SIP_TRUNK
          - END_USER
          - ACCOUNT
          - SPECIALTY_LINE
        referenceName:
          type: string
        acctId:
          type: string
        accountId:
          type: string
        callingPlanProductId:
          type: string
        callingPlanProductName:
          type: string
        accountNumber:
          type: string
        accountCustomField:
          type: string
        partitionBillingCode:
          type: string
        accountBillingCycleDay:
          type: integer
          format: int32
        accountTimeZone:
          type: string
        sipCallIds:
          type: array
          items:
            type: string
        meanOpinionScoreAverage:
          type: number
          format: double
        meanOpinionScores:
          type: object
          additionalProperties:
            type: number
            format: double
        callPickupFromId:
          type: string
        callPickupById:
          type: string
        applicationData:
          originalRef: CdrApplicationData
          $ref: '#/components/schemas/CdrApplicationData_2'
        origCnam:
          type: string
        termCnam:
          type: string
        forwardingCnam:
          type: string
        origNumberTags:
          type: array
          items:
            type: string
        termNumberTags:
          type: array
          items:
            type: string
        remoteChargeInfo:
          type: string
    CallDetailRecordSearchResponse_2:
      type: object
      properties:
        totalRecords:
          type: integer
          format: int64
        results:
          type: array
          items:
            originalRef: CallDetailRecord
            $ref: '#/components/schemas/CallDetailRecord_2'
    JobError:
      type: object
      properties:
        error:
          type: string
        lineNumber:
          type: integer
          format: int32
        column:
          type: string
        input:
          type: string
    CdrApplicationData_2:
      type: object
      discriminator: type
    Job_2:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        userId:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - DONE
          - FAILED
        errors:
          type: array
          items:
            originalRef: JobError
            $ref: '#/components/schemas/JobError'
        inputKey:
          type: string
        outputKey:
          type: string
        start:
          type: integer
          format: int64
        lastUpdated:
          type: integer
          format: int64
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
x-refined-from:
- alianza-apidocs-swagger2-original.json
- alianza-openapi-original.yml
