openapi: 3.0.3
info:
  title: Alianza Public API
  version: '2'
  description: |-
    Welcome to the Alianza Public API documentation, based on the OpenAPI 3.0 specification.

    _If you need the Swagger 2.0/OAS 2.0 version of the Alianza Public API, click [here](https://api.alianza.com/v2/apidocs/)._

    Authentication for most API endpoints requires the use of an <a href="data.html#xauthtoken" hidden>X-AUTH-TOKEN</a> X-AUTH-TOKEN header. Please reach out to your account manager for login credentials.
    To obtain an X-AUTH-TOKEN, use the POST /v2/authorize endpoint under the <a href="#/~operation/Authorize/">Authorize</a> group, which will return an authToken value. 
    Click the Authorize button below and provide the returned token. 

    <div hidden>
    Some useful links:
    - [Brief introduction to Alianza components](data.html) such as Partitions, Accounts and Users
    </div>
servers:
  - url: https://api.d2.alianza.com
    description: Development
  - url: https://api.q2.alianza.com
    description: QA
  - url: https://api.b2.alianza.com
    description: Beta
  - url: https://api.alianza.com
    description: Production
security:
  - X-Auth-Token: []
tags:
  - name: Account
    description: An account is the basic unit of telephone service for a business or home.
  - name: Account Device
    description: A device is an equipment, such as a VoIP or a soft phone, associated to an account.
  - name: Account Device Line
    description: A device line helps define the different features available, depending on the equipment type being used.
  - name: Account Prevalidate
    description: Operations for validating voice service of an account.
  - name: Account User
    description: An Account User (also known as an account manager) does not have a device on the system and has access to manage an account.
  - name: Address
    description: Search and validate addresses.
  - name: Asynchronous JOB Tracker
    description: Operations for managing asynchronous jobs
  - name: Authorize
    description: Retrieves authorization tokens and login info.
  - name: Brand Settings
    description: Brand settings toggles
  - name: Bulk Operation Collection
    description: Manage collections used in the bulk process.
  - name: Bulk Operation Job
    description: Manage jobs used in the bulk process.
  - name: Business Line
    description: Operations for managing business lines.
  - name: Business Line Hunt Group
    description: Operations for managing business line hunt groups
  - name: Call Group
    description: Call groups are the call destinations of <a href="#/~operation/Paging%20Group/">Paging</a> and <a href="#/~operation/Pickup%20Group/">Pickup</a> groups.
  - name: Calling Plan
    description: Calling plans allow you to control where your customers are allowed to call and what, if any, the cost should be for those calls.  Each of your plans can be set up with a number of included minutes or a per-minute rate, depending on how you want to charge for services.  The calling plans created at the partition level can be assigned to individual accounts and users based on their needs or the bundle they purchased.
  - name: Calling Plan Product
    description: Operations for managing calling plan products.
  - name: Call Parking Spot
    description: Operations for managing call parking spot.
  - name: CDRs
    description: A call detail record (CDR) documents the details of a telephone call.
  - name: Cymbus User Product
    description: Operations for managing Cymbus User Product
  - name: Device
    description: Convenience operations related to devices
  - name: Device (Deprecated)
    description: These endpoints are all deprecated. Use the Account Device and Account Device Lines instead.
  - name: Device Inventory Management
    description: Operations for managing device inventories.
  - name: Document Repository
    description: Operations for managing documents
  - name: Dynamic Inventory
    description: Operations for managing dynamic inventories of telephone numbers.
  - name: Edge Node
    description: Operations for managing edge nodes
  - name: Emergency Notification
    description: These endpoints manage extra notifications which occur when a 911 call is made on the Alianza switch, in compliance with Kari's law.
  - name: End User
    description: End Users may have one or more devices and telephone numbers assigned to them.
  - name: Inbound Rate Plan Product
    description: Operations for managing inbound rate plan products.
  - name: IVR
    description: An IVR is a menu system that allows callers to navigate through a series of options to reach a destination.
  - name: Language Reference
    description: Get language information.
  - name: Local Calling Areas
    description: Operations for managing local calling areas.
  - name: Management User
    description: Management users are employees of a service provider who can setup and administrate their partition.
  - name: Media
    description: Operations for managing audio files which are used for hold music or interactive voice recording prompts.
  - name: Paging Group
    description: Paging groups contain <a href="#/~operation/Call%20Group/">call groups</a> as destinations for a one way broadcast communication.
  - name: Partition
    description: A partition is the logical separation between Alianza customers in the platform. Each partition has its own ID, which is required for every API interaction.
  - name: Pickup Group
    description: Pickup groups contain <a href="#/~operation/Call%20Group/">call groups</a> as destinations for a call that will ring simultaneously to all members of the groups.
  - name: Port
    description: Telephone number port requests are not initiated by any of these endpoints, but the ongoing management of an existing port request is handled here.
  - name: Rate Center Inventory
    description: Operations for managing rate centers. A rate center is a geographical area used to determine the boundaries for local calling, billing, and assigning specific phone numbers, which can encompass multiple area codes.
  - name: Reference Resources
    description: Retrieve a list of the resources supported by Alianza.
  - name: Report
    description: Operations for managing reports.
  - name: Security Groups
    description: Security groups (also called roles) are assigned to management users. These assignments control more granular access to the Alianza API.
  - name: Service Activation
    description: Operations for managing service activation.
  - name: SIP Trunk
    description: Operations for managing SIP trunks
  - name: Sip Trunk Caller ID Mapping
    description: Operations for managing Sip Trunk Caller ID mappings
  - name: SIP Trunk Group
    description: Operations for managing SIP trunk groups
  - name: Single Sign On - SSO
    description: Operations for managing SSO
  - name: SSO Authentication
    description: Operations for managing SSO authentication flows and callbacks
  - name: SSO Configuration
    description: Operations for managing SSO configurations for accounts and partitions
  - name: SSO Exemptions
    description: Operations for managing SSO exemptions for accounts and partitions
  - name: Specialty Line
    description: Managed Specialty Lines uses carefully curated CPE (Customer Premises Equipment) that can replace virtually any specialty use hardline for critical business and life safety systems.
  - name: Supported Rate Centers
    description: A rate center is a geographical area used to determine the boundaries for local calling, billing, and assigning specific phone numbers, which can encompass multiple area codes.
  - name: Telephone Number
    description: Operations for managing telephone numbers.
  - name: User Groups
    description: Operations for managing user groups.
  - name: Voicemail Box
    description: Operations for managing voicemail boxes.
  - name: Virtual Fax Line
    description: Operations for managing virtual fax lines.
  - name: Virtual Fax
    description: Operations for managing virtual fax.
  - name: Voicemail Message
    description: Operations for managing voicemail messages.
paths:
  /v2/address/state/{state}/city/{city}/zipcode:
    get:
      tags:
        - Address
      summary: Retrieves a zip code list for US cities
      description: Use to retrieve a set of ZipCodeX objects for the given city and state in the US.
      operationId: getZipCodeByCityAndState
      parameters:
        - name: city
          in: path
          required: true
          schema:
            type: string
        - name: state
          in: path
          description: A two-letter state abbreviation in the US
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ZipcodeX'
                uniqueItems: true
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Zipcodes not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/address/typeahead:
    get:
      tags:
        - Address
      summary: Retrieves a list of addresses
      description: Retrieves a list of strings containing addresses. Use to build features like autocomplete search. As an address is typed in a list of potential addresses will be returned. A partial address can be used, for example, for zipcode 13905, just inputting the number 135 will bring back several addresses in the zipcode that begin with 135. If 135 F is input several addresses are brought back, including Front St.
      operationId: typeAhead
      parameters:
        - name: address
          in: query
          description: Address to parse.
          required: true
          schema:
            type: string
        - name: country
          in: query
          description: Alianza supports accounts in the USA and Canada. If not sure, use UNK (unknown).
          required: true
          schema:
            type: string
            enum:
              - USA
              - CAN
              - UNK
        - name: postalCode
          in: query
          description: Postal / Zip code of address
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Zipcodes not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/address/validate:
    get:
      tags:
        - Address
      summary: Parses and validates an address
      description: Use to parse an address line into an AddressValidationX object and validate it.  Address format should be in the form of number, street name, street suffix, ie 135 Front St.  Please note that the <a href="#/~schema/AddressValidationX">addressValidation.customerServiceRecordX.country</a> is not currently being populated in the response.
      operationId: validateAddress
      parameters:
        - name: address
          in: query
          description: Address to parse
          required: true
          schema:
            type: string
        - name: country
          in: query
          description: Alianza supports accounts in the USA and Canada. If not sure, use UNK (unknown).
          required: true
          schema:
            type: string
            enum:
              - USA
              - CAN
              - UNK
        - name: postalCode
          in: query
          description: Postal / Zip code of address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressValidationX'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Zipcodes not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/app-branding/brand-settings:
    get:
      tags:
        - Brand Settings
      summary: Retrieve the general settings for all app brands of a partition.
      operationId: getBrandSettingsByPartitionId
      parameters:
        - name: partition
          in: query
          description: PartitionId for brands being retrieved.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrandSettingsDTO'
        '400':
          description: Invalid Partition ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
        '404':
          description: Partition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
    post:
      tags:
        - Brand Settings
      summary: Provision general settings associated to app branding for a new brand.
      operationId: createBrandByPartitionId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrandSettings'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandSettingsDTO'
        '400':
          description: Invalid Partition ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
        '404':
          description: Partition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
        '409':
          description: 'Conflict: Brand already exists for the partition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
  /v2/app-branding/brand-settings/{brandId}:
    get:
      tags:
        - Brand Settings
      summary: Retrieve the general settings associated to a specific brand.
      operationId: getBrandSettingsById
      parameters:
        - name: brandId
          in: path
          description: ID of brand to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandSettingsDTO'
        '400':
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
        '404':
          description: Brand not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
    put:
      tags:
        - Brand Settings
      summary: Provision the general settings associated to a specific brand.
      operationId: updateBrandSettingsById
      parameters:
        - name: brandId
          in: path
          description: ID of brand whose settings are being updated
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandSettingsDTO'
      responses:
        '200':
          description: Settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandSettingsDTO'
        '404':
          description: Brand not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
        '409':
          description: Modification of brandingCompleted is not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandErrorResponse'
  /v2/authorize:
    put:
      tags:
        - Authorize
      summary: Update password
      description: Used to update an existing password
      operationId: changePassword
      requestBody:
        description: Login credentials with new password
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginTokenX'
        '400':
          description: FailedToUpdate, when new password doesn't satisfy the password requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
      security: []
      x-codegen-request-body-name: body
    post:
      tags:
        - Authorize
      summary: Login with login credentials
      description: 'Takes login credentials and returns token if successfully validates '
      operationId: logUserIn
      requestBody:
        description: Login credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginTokenX'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
      security: []
      x-codegen-request-body-name: body
  /v2/authorize/jwt:
    post:
      tags:
        - Authorize
      summary: Login with token
      description: Takes a jwt and returns login token if successfully validates. For validating a jwt, Alianza needs your public key, please contact your account manager.
      operationId: loginWithJWT
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginTokenX'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
      security: []
      x-codegen-request-body-name: body
  /v2/authorize/logout:
    put:
      tags:
        - Authorize
      summary: Log out a user
      description: Log out user for the given token in the header
      operationId: logOut
      responses:
        '200':
          description: Logout completed successfully
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authorize/sso:
    get:
      tags:
        - Single Sign On - SSO
      summary: Get SSO data
      description: Returns data needed for the UI to initiate Single Sign On
      operationId: getClientId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoDataX'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
      security: []
    post:
      tags:
        - Single Sign On - SSO
      summary: Authorization Code Exchange
      description: Pass the SSO response authorization code here to exchange it for an API authorization token
      operationId: getLoginInfo_1
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: redirect_uri
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginTokenX'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
      security: []
  /v2/authn/sso-config/accounts/{accountId}:
    get:
      tags:
        - SSO Configuration
      summary: List SSO configurations for account
      description: Retrieves all SSO configurations associated with a specific account.
      operationId: listSSOConfigsByAccountId
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
      responses:
        '200':
          description: SSO configurations retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSOConfigResponse'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Account not found or no SSO configurations exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    put:
      tags:
        - SSO Configuration
      summary: Update SSO configuration
      description: Updates an existing SSO configuration for an account.
      operationId: updateSSOConfig
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
      requestBody:
        required: true
        description: Updated SSO configuration details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteSSOConfigRequest'
          multipart/form-data:
            schema:
              type: object
              required:
                - ssoName
                - identityProviderSignInUrl
                - externalIdAttributeFieldMapping
                - identityProviderSigningCertificate
              properties:
                ssoName:
                  type: string
                  description: SSO configuration name
                identityProviderSignInUrl:
                  type: string
                  format: uri
                  description: Identity provider sign-in endpoint URL
                externalIdAttributeFieldMapping:
                  type: string
                  description: External ID attribute field mapping in SAML response
                externalEmailAttributeFieldMapping:
                  type: string
                  description: External email attribute field mapping in SAML response
                identityProviderSigningCertificate:
                  type: string
                  format: binary
                  description: IdP signing certificate file (PEM or CER format)
                samlRequestProtocolBinding:
                  $ref: '#/components/schemas/SAMLRequestProtocolBinding'
      responses:
        '200':
          description: SSO configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOConfigResponse'
        '400':
          description: Bad Request - Invalid request parameters or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to update configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/accounts/{accountId}/{ssoName}/status:
    post:
      tags:
        - SSO Configuration
      summary: Enable SSO configuration
      description: Enables or disables the SSO configuration for an account.
      operationId: enableSSO
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: ssoName
          in: path
          required: true
          description: SSO configuration name
          schema:
            type: string
        - name: enabled
          in: query
          required: false
          description: Set true to enable SSO config
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: SSO configuration enabled successfully
        '400':
          description: Bad Request - Invalid status transition or configuration incomplete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to enable configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/accounts/{accountId}/signing-certificate:
    get:
      tags:
        - SSO Configuration
      summary: Download signing certificate
      description: Downloads the service provider signing certificate for SAML configuration.
      operationId: downloadSigningCertificate
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: Certificate format
          schema:
            type: string
            enum:
              - pem
              - cer
            default: pem
      responses:
        '200':
          description: Certificate downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Account or certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/accounts/{accountId}/user-validation:
    get:
      tags:
        - SSO Configuration
      summary: Validate user against account SSO configuration
      description: Validates the user context for the account-level SSO configuration.
      operationId: getUserValidation
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: partitionId
          in: query
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: userId
          in: query
          required: false
          description: ID of end-user
          schema:
            type: string
      responses:
        '200':
          description: User validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserValidationResponse'
        '400':
          description: Bad Request - Invalid request parameters or validation failed
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /v2/authn/sso-config/accounts:
    post:
      tags:
        - SSO Configuration
      summary: Create account SSO configuration
      description: Creates a new SSO configuration for an account to enable SAML-based authentication.
      operationId: createSSOConfig
      requestBody:
        required: true
        description: SSO configuration details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOConfigCreateRequest'
      responses:
        '201':
          description: SSO configuration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOConfigCreateResponse'
        '400':
          description: Bad Request - Invalid request parameters or validation failed
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Account or partition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/accounts/{accountId}/{ssoName}:
    get:
      tags:
        - SSO Configuration
      summary: Get specific SSO configuration
      description: Retrieves a specific SSO configuration by name for an account.
      operationId: getSSOConfig
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: ssoName
          in: path
          required: true
          description: SSO configuration name
          schema:
            type: string
      responses:
        '200':
          description: SSO configuration found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOConfigResponse'
        '400':
          description: Bad Request - Invalid request parameters or validation failed
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Account or partition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    delete:
      tags:
        - SSO Configuration
      summary: Delete SSO configuration
      description: Removes an SSO configuration from an account.
      operationId: deleteSSOConfig
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: ssoName
          in: path
          required: true
          description: SSO configuration name
          schema:
            type: string
      responses:
        '204':
          description: SSO configuration deleted successfully
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to delete configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced:
    post:
      tags:
        - SSO Configuration
      summary: Create partition enforced SSO configuration
      description: Creates a new Partition Enforced SSO (PESSO) configuration.
      operationId: createSSOConfigPartitionEnforced
      requestBody:
        required: true
        description: SSO configuration details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOConfigCreateRequest'
      responses:
        '201':
          description: SSO configuration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOConfigCreateResponse'
              example:
                scope: PARTITION_ENFORCED_SSO
                scopeId: partition-123
                ssoName: enterprise-sso-def456
                assertionConsumerResponseUrl: https://api.alianza.com/v2/sso/callback
                serviceProviderEntityId: urn:amazon:cognito:sp:us-east-1_ABC123
                serviceProviderSigningCertificate: '-----BEGIN CERTIFICATE-----...'
                createdAt: '2025-10-01T12:00:00Z'
        '400':
          description: Bad Request - Invalid request parameters or validation failed
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Partition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced/{partitionId}:
    get:
      tags:
        - SSO Configuration
      summary: List partition SSO configurations
      description: Retrieves all SSO configurations for a specific partition.
      operationId: listSSOConfigsByPartitionIdPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
      responses:
        '200':
          description: SSO configurations retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSOConfigResponse'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Partition not found or no SSO configurations exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    put:
      tags:
        - SSO Configuration
      summary: Update SSO configuration
      description: |
        Updates an existing Partition Enforced SSO configuration with Identity Provider details.
      operationId: updateSSOConfigPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
      requestBody:
        required: true
        description: Updated SSO configuration details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteSSOConfigRequest'
          multipart/form-data:
            schema:
              type: object
              required:
                - ssoName
                - identityProviderSignInUrl
                - externalIdAttributeFieldMapping
                - identityProviderSigningCertificate
                - userIdAttributeFieldMapping
              properties:
                ssoName:
                  type: string
                  description: SSO configuration name
                identityProviderSignInUrl:
                  type: string
                  format: uri
                  description: Identity provider sign-in endpoint URL
                externalIdAttributeFieldMapping:
                  type: string
                  description: External ID attribute field mapping in SAML response
                externalEmailAttributeFieldMapping:
                  type: string
                  description: External email attribute field mapping in SAML response
                userIdAttributeFieldMapping:
                  type: string
                  description: Alianza user id attribute field mapping in SAML response
                identityProviderSigningCertificate:
                  type: string
                  format: binary
                  description: IdP signing certificate file (PEM or CER format)
                samlRequestProtocolBinding:
                  $ref: '#/components/schemas/SAMLRequestProtocolBinding'
                idpLogoutUrl:
                  type: string
                  format: uri
                  description: Identity Provider logout URL where SAML logout requests are sent (optional)
      responses:
        '200':
          description: SSO configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOConfigResponse'
        '400':
          description: Bad Request - Invalid request parameters or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to update configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced/{partitionId}/{ssoName}:
    get:
      tags:
        - SSO Configuration
      summary: Get specific SSO configuration
      description: Retrieves a specific SSO configuration by name for a partition.
      operationId: getSSOConfigPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: ssoName
          in: path
          required: true
          description: SSO configuration name
          schema:
            type: string
      responses:
        '200':
          description: SSO configuration found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOConfigResponse'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    delete:
      tags:
        - SSO Configuration
      summary: Delete SSO configuration
      description: Permanently removes an SSO configuration from a partition.
      operationId: deleteSSOConfigPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: ssoName
          in: path
          required: true
          description: SSO configuration name
          schema:
            type: string
      responses:
        '204':
          description: SSO configuration deleted successfully
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to delete configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced/sub-partitions/{ssoName}:
    put:
      tags:
        - SSO Configuration
      summary: Update enforced sub-partitions
      description: Updates the list of sub-partitions enforced by a PESSO configuration (merge/add-only).
      operationId: updateSubPartitionsList
      parameters:
        - name: ssoName
          in: path
          required: true
          description: SSO configuration name
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubPartitionsRequest'
            example:
              enforcedSubPartitions:
                - sub-partition-1
                - sub-partition-2
              allowAlianzaAuthentication: false
              allowSpInitiatedAuthenticationFlow: true
      responses:
        '204':
          description: Sub-partitions updated successfully
        '400':
          description: Bad Request - Invalid sub-partition provided or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced/{partitionId}/{ssoName}/status:
    post:
      tags:
        - SSO Configuration
      summary: Enable SSO configuration
      description: Enables or disables the SSO configuration for a partition.
      operationId: enableSSOPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: ssoName
          in: path
          required: true
          description: SSO configuration name
          schema:
            type: string
        - name: enabled
          in: query
          required: false
          description: Enables SSO config
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: SSO configuration enabled successfully
        '400':
          description: Bad Request - Invalid status transition or configuration incomplete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to enable configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced/{partitionId}/signing-certificate:
    get:
      tags:
        - SSO Configuration
      summary: Download signing certificate
      description: Downloads the service provider signing certificate for SAML configuration.
      operationId: downloadSigningCertificatePartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: Certificate format
          schema:
            type: string
            enum:
              - pem
              - cer
            default: pem
      responses:
        '200':
          description: Certificate downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Partition or certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/accounts/{accountId}/exemptions:
    post:
      tags:
        - SSO Exemptions
      summary: Add SSO exemption
      description: |
        Creates an SSO exemption for specific users or groups in an account.

        Exemptions allow designated users or groups to bypass SSO requirements
        and use traditional authentication.
      operationId: addSSOExemption
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
      requestBody:
        required: true
        description: Exemption details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOExemptionRequest'
      responses:
        '201':
          description: Exemption created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOExemptionResponse'
              example:
                exemptionId: exempt-abc-123
                partitionId: partition-789
                accountId: account-456
                accountName: Acme Corporation
                exemptionName: emergency-admins
                exemptionType: USER
                exemptions:
                  - user-123
                  - api-service-account
        '400':
          description: Bad Request - Invalid exemption data or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Account or SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to create exemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    get:
      tags:
        - SSO Exemptions
      summary: List SSO exemptions
      description: Retrieves all SSO exemptions for an account.
      operationId: getSSOExemptionsByAccount
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
      responses:
        '200':
          description: Exemptions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSOExemptionResponse'
              example:
                - exemptionId: exempt-abc-123
                  partitionId: partition-789
                  accountId: account-456
                  accountName: Acme Corporation
                  exemptionName: emergency-admins
                  exemptionType: USER
                  exemptions:
                    - user-123
                    - api-service-account
                - exemptionId: exempt-def-456
                  partitionId: partition-789
                  accountId: account-456
                  accountName: Acme Corporation
                  exemptionName: contractor-group
                  exemptionType: GROUP
                  exemptions:
                    - group-external-contractors
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - No exemptions found for the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve exemptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/accounts/{accountId}/exemptions/{exemptionId}:
    get:
      tags:
        - SSO Exemptions
      summary: Get SSO exemption
      description: Retrieves a specific SSO exemption by ID.
      operationId: getSSOExemptionById
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: exemptionId
          in: path
          required: true
          description: Exemption identifier
          schema:
            type: string
      responses:
        '200':
          description: Exemption found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOExemptionResponse'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Exemption not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve exemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    put:
      tags:
        - SSO Exemptions
      summary: Update SSO exemption
      description: Updates an existing SSO exemption.
      operationId: updateSSOExemption
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: exemptionId
          in: path
          required: true
          description: Exemption identifier
          schema:
            type: string
      requestBody:
        required: true
        description: Updated exemption details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOExemptionRequest'
      responses:
        '200':
          description: Exemption updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOExemptionResponse'
              example:
                exemptionId: exempt-abc-123
                partitionId: partition-789
                accountId: account-456
                exemptionName: emergency-admins
                exemptionType: USER
                exemptions:
                  - user-123
                  - user-456
                  - new-admin-789
        '400':
          description: Bad Request - Invalid exemption data or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Exemption not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to update exemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    delete:
      tags:
        - SSO Exemptions
      summary: Delete SSO exemption
      description: Removes an SSO exemption.
      operationId: deleteSSOExemption
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: exemptionId
          in: path
          required: true
          description: Exemption identifier
          schema:
            type: string
      responses:
        '204':
          description: Exemption deleted successfully - no content returned
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Exemption not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to delete exemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced/{partitionId}/exemptions:
    post:
      tags:
        - SSO Exemptions
      summary: Add enforced SSO exemption
      description: |
        Creates an SSO exemption for entire accounts in a partition with enforced SSO.
      operationId: addSSOExemptionPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
      requestBody:
        required: true
        description: Exemption configuration details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOExemptionRequest'
      responses:
        '201':
          description: Exemption created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOExemptionResponse'
              example:
                exemptionId: exempt-pesso-789
                partitionId: partition-123
                exemptionName: pilot-accounts
                exemptionType: ACCOUNT
                exemptions:
                  - acc-pilot-dept
                  - acc-test-group
        '400':
          description: Bad Request - Invalid exemption data or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Partition or SSO configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '409':
          description: Conflict - One or more accounts/users/groups already exempted by another exemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to create exemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    get:
      tags:
        - SSO Exemptions
      summary: List enforced SSO exemptions
      description: Retrieves all SSO exemptions for a partition with enforced SSO.
      operationId: getSSOExemptionsByPartition
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
      responses:
        '200':
          description: Exemptions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSOExemptionResponse'
              example:
                - exemptionId: exempt-pesso-789
                  partitionId: partition-123
                  exemptionName: pilot-accounts
                  exemptionType: ACCOUNT
                  exemptions:
                    - acc-pilot-dept
                    - acc-test-group
                - exemptionId: exempt-pesso-456
                  partitionId: partition-123
                  exemptionName: emergency-admins
                  exemptionType: USER
                  exemptions:
                    - user-emergency-1
                    - api-service-account
                - exemptionId: exempt-pesso-123
                  partitionId: partition-123
                  exemptionName: contractor-teams
                  exemptionType: GROUP
                  exemptions:
                    - group-external-contractors
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - No exemptions found for the partition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to retrieve exemptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso-config/partitions/enforced/{partitionId}/exemptions/{exemptionId}:
    get:
      tags:
        - SSO Exemptions
      summary: Get specific enforced SSO exemption
      description: Retrieves a specific SSO exemption by ID for enforced SSO.
      operationId: getSSOExemptionByIdPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: exemptionId
          in: path
          required: true
          description: Exemption identifier
          schema:
            type: string
      responses:
        '200':
          description: Exemption found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOExemptionResponse'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Exemption not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    put:
      tags:
        - SSO Exemptions
      summary: Update enforced SSO exemption
      description: Updates an existing SSO exemption for enforced SSO.
      operationId: updateSSOExemptionPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: exemptionId
          in: path
          required: true
          description: Exemption identifier
          schema:
            type: string
      requestBody:
        required: true
        description: Updated exemption configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOExemptionRequest'
      responses:
        '200':
          description: Exemption updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOExemptionResponse'
              example:
                exemptionId: exempt-pesso-789
                partitionId: partition-123
                exemptionName: pilot-accounts
                exemptionType: ACCOUNT
                exemptions:
                  - acc-pilot-dept
                  - acc-test-group
                  - acc-new-pilot
        '400':
          description: Bad Request - Invalid exemption data or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Exemption not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
    delete:
      tags:
        - SSO Exemptions
      summary: Delete enforced SSO exemption
      description: Removes an SSO exemption from enforced SSO configuration.
      operationId: deleteSSOExemptionPartitionEnforced
      parameters:
        - name: partitionId
          in: path
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: exemptionId
          in: path
          required: true
          description: Exemption identifier
          schema:
            type: string
      responses:
        '204':
          description: Exemption deleted successfully - no content returned
        '401':
          description: Unauthorized - Invalid or missing X-Auth-Token
        '404':
          description: Not Found - Exemption not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso/{emailAddress}:
    post:
      tags:
        - SSO Authentication
      summary: Initiate SSO Authentication (Service Provider-Initiated Flow)
      description: |
        Initiates the SSO authentication process by redirecting the user to their configured Identity Provider (IdP).

        What this endpoint does:
        1. Looks up the SSO configuration based on the user's email domain
        2. Generates a SAML authentication request
        3. Returns the SAML request in a 200 or 303 response depending on request parameters

        Note: This does not authenticate the user directly. It starts the redirect flow to the IdP.
      operationId: spInitiatedAuthn
      parameters:
        - name: emailAddress
          in: path
          required: true
          description: The user's email address, used to identify the SSO configuration by email domain
          schema:
            type: string
            format: email
        - name: redirect
          in: query
          required: false
          description: |
            When true, returns HTTP 303 and may include a Location header.
            When false, returns HTTP 200 with the redirect URL in the response body.
          schema:
            type: boolean
            default: true
        - name: X-AUTH-REDIRECT-OVERRIDE
          in: header
          required: false
          description: |
            Optional redirect URL override for specific applications.
            If provided, the user will be redirected to this URL after successful authentication instead of the default callback URL.
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: Redirect URI generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectResponse'
              example:
                redirectUri: https://idp.example.com/login?SAMLRequest=abc123
        '303':
          description: |
            See Other - redirect URL returned in the response body and optionally in the Location header.
          headers:
            Location:
              description: |
                Optional redirect URL to SSO provider login page.
                Present when `redirect=true` and User-Agent is not AUCA.
              required: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectResponse'
              example:
                redirectUri: https://idp.example.com/login?SAMLRequest=abc123
        '400':
          description: Bad Request - Invalid email or request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              example:
                errors:
                  - path param emailAddress must be a well-formed email address
        '404':
          description: Not Found - SSO configuration not found for email domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '500':
          description: Internal Server Error - Failed to build Auth0 URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/authn/sso/login-callback:
    post:
      tags:
        - SSO Authentication
      summary: Complete SSO Authentication (IdP Callback)
      description: |
        Completes the SSO authentication flow after the user has authenticated with their Identity Provider.

        Flow:
        1. User authenticates at the IdP
        2. IdP sends SAML assertion to Auth0
        3. Auth0 exchanges it for an authorization code
        4. This endpoint receives the code and exchanges it for user tokens
        5. Returns a LoginTokenX object for authenticated API use
      operationId: finishSSO
      parameters:
        - name: code
          in: query
          required: true
          description: Authorization code from Auth0 after successful IdP authentication
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          description: Must exactly match the URI used in the initial authentication request
          schema:
            type: string
            format: uri
        - name: state
          in: query
          required: true
          description: |
            State token for session tracking and CSRF protection.
            Contains the SSO configuration scope level.
          schema:
            type: string
            enum:
              - ACCOUNT_LEVEL_SSO
              - PARTITION_ENFORCED_SSO
              - PARTITION_SSO
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginTokenX'
        '400':
          description: Bad Request - Invalid or malformed parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
              examples:
                invalidAuthorizationCode:
                  summary: Invalid Authorization Code
                  value:
                    code: INVALID_AUTHORIZATION_CODE
                    message: Authorization code is invalid or has expired
                    details:
                      code: eyJhbGci...
                redirectUriMismatch:
                  summary: Redirect URI Mismatch
                  value:
                    code: REDIRECT_URI_MISMATCH
                    message: Redirect URI does not match the original request
                    details:
                      provided: https://wrong.alianza.com/callback
                      expected: https://app.alianza.com/auth/callback
        '401':
          description: Authentication failed - Invalid state or code verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
              example:
                code: INVALID_STATE
                message: State token validation failed - possible CSRF attack
                details:
                  state: ACCOUNT_LEVEL_SSO
        '404':
          description: State not found or session expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
              example:
                code: SESSION_EXPIRED
                message: Authentication session has expired. Please initiate SSO login again.
                details:
                  maxSessionAge: 15 minutes
  /v2/authn/sso/sso-linkage:
    delete:
      tags:
        - SSO Authentication
      summary: Unlink SSO for a user
      description: Removes the SSO linkage for a specific user.
      operationId: unlinkSSO
      parameters:
        - name: partitionId
          in: query
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: accountId
          in: query
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
        - name: userId
          in: query
          required: true
          description: ID of end-user to unlink
          schema:
            type: string
      responses:
        '204':
          description: SSO linkage removed successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: SSO linkage not found
    get:
      tags:
        - SSO Authentication
      summary: Get SSO linkages
      description: Retrieves SSO linkage information for specified SSO configurations.
      operationId: getSSOLinkages
      parameters:
        - name: partitionId
          in: query
          required: true
          description: ID of partition, refers to <a href="#/~schema/PartitionX">partition.id</a>
          schema:
            type: string
        - name: accountId
          in: query
          required: true
          description: ID of account, refers to <a href="#/~schema/Account">account.id</a>
          schema:
            type: string
      responses:
        '200':
          description: SSO linkages retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSOLinkage'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
  /v2/authorize/userinfo:
    get:
      tags:
        - Authorize
      summary: User Information
      description: Return user information for a given token in the header
      operationId: getLoginInfo
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginTokenX'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/bulk-user-operation/collection:
    post:
      tags:
        - Bulk Operation Collection
      summary: Create new collection
      description: Create a new collection. This endpoint can take two content types -- application/json and multipart/form-data. Please see the request body examples for the content type you will be using.
      operationId: create_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionDTO'
            examples:
              collectionRequest:
                $ref: '#/components/examples/CreateCollectionWithJsonRequestExample'
          multipart/form-data:
            schema:
              type: object
              properties:
                transformObjectType:
                  type: string
                transformObjectsFile:
                  type: string
                  format: binary
                columnTypes:
                  type: string
                jobTypeId:
                  type: string
            examples:
              collectionRequest:
                $ref: '#/components/examples/CreateCollectionWithFileExample'
        required: true
      responses:
        '200':
          description: Collection created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDTO'
        '400':
          description: Invalid collection details supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '403':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '422':
          description: associated collection has pre-validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
  /v2/bulk-user-operation/collection/{collectionId}:
    get:
      tags:
        - Bulk Operation Collection
      summary: Get collection details
      description: Get collection details by ID
      operationId: get_collection
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Collection retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDTO'
              examples:
                collectionResponse:
                  $ref: '#/components/examples/GetCollectionResponseExample'
        '403':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '404':
          description: Invalid collectionId or Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
  /v2/bulk-user-operation/collection/{collectionId}/{extension}:
    get:
      tags:
        - Bulk Operation Collection
      summary: Get collection file
      description: Get collection file by ID and extension
      operationId: get_collection_file
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
        - name: extension
          in: path
          required: true
          schema:
            type: string
            enum:
              - json
              - csv
      responses:
        '200':
          description: Collection file retrieved successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '404':
          description: Invalid collectionId or Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
  /v2/bulk-user-operation/job:
    post:
      tags:
        - Bulk Operation Job
      summary: Create new job
      description: Create a new job. This endpoint can take two content types -- application/json and multipart/form-data. Please see the request body examples for the content type you will be using.
      operationId: create_job
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDTO'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/JobFormDTO'
            examples:
              jobRequest:
                $ref: '#/components/examples/CreateJobExample'
        required: true
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDTO'
        '400':
          description: Invalid job details supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '403':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
  /v2/bulk-user-operation/job/{jobId}:
    get:
      tags:
        - Bulk Operation Job
      summary: Get job details
      description: Get job details by ID
      operationId: get_job
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDTO'
        '403':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '404':
          description: Job not found; Invalid JobId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
    put:
      tags:
        - Bulk Operation Job
      summary: Update existing job
      description: Update an existing job
      operationId: update_job
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDTO'
        required: true
      responses:
        '200':
          description: Job updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDTO'
        '400':
          description: Invalid job details supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '403':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationErrorResponse'
  /v2/ces/deviceGraph/{macaddress}:
    get:
      tags:
        - Device
      summary: Device Graph
      description: Use to search for a deviceGraph, which is defined as information about a specific physical phone interface, plus information about all of the phone numbers which ring that device.
      operationId: deviceGraph
      parameters:
        - name: limited
          in: query
          description: Whether the phone information is limited.<br/>If false, this returns a <a href="#/~schema/DeviceGraphUnlimited">DeviceGraphUnlimited</a> which contains extensive information about the telephone number and account.<br/>If true this returns a <a href="#/~schema/DeviceGraphLimited">DeviceGraphLimited</a> which only lists the phone numbers.
          schema:
            type: boolean
            default: false
        - name: macaddress
          in: path
          description: The mac address of the phone interface
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DeviceGraphLimited'
                  - $ref: '#/components/schemas/DeviceGraphUnlimited'
        '401':
          description: Expired Auth Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/cymbus/account-group:
    put:
      tags:
        - Cymbus User Product
      summary: Update Cymbus account group
      description: Use to update Cymbus account group
      operationId: updateCymbusAccountGroup
      requestBody:
        description: Stretto Device Line object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CymbusAccountGroup'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CymbusAccountGroup'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
      x-codegen-request-body-name: body
  /v2/cymbus/account-group/prevalidate:
    post:
      tags:
        - Cymbus User Product
      summary: Prevalidate Cymbus account name
      description: Use to verify that the chosen name is available
      operationId: prevalidateCymbusGroupName
      parameters:
        - name: groupName
          in: query
          schema:
            type: string
      responses:
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        default:
          description: Successful operation
          content: {}
  /v2/cymbus/account-group/{accountid}:
    get:
      tags:
        - Cymbus User Product
      summary: Retrieve Cymbus account group
      description: Use to retrieve the Cymbus group associated to an account
      operationId: retrieveStrettoDeviceLinesGroup
      parameters:
        - name: accountid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CymbusAccountGroup'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/cymbus/partition-group:
    put:
      tags:
        - Cymbus User Product
      summary: Update Cymbus group
      description: Use to update specific Cymbus group (only support email and name
      operationId: updateCymbusPartitionGroup
      requestBody:
        description: Cymbus partition group object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CymbusPartitionGroup'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CymbusPartitionGroup'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
      x-codegen-request-body-name: body
  /v2/cymbus/partition-group/{partitionId}:
    get:
      tags:
        - Cymbus User Product
      summary: Retrieve Cymbus group
      description: Use to retrieve the Cymbus group associated to a partition
      operationId: retrieveCymbusPartitionGroup
      parameters:
        - name: partitionId
          in: path
          description: ID of partition
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CymbusPartitionGroup'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/cymbus/{userid}/sipcredentials:
    get:
      tags:
        - Cymbus User Product
      summary: Retrieve SIP credentials for Cymbus user
      description: Use to retrieve SIP credentials for both lines associated to an account
      operationId: retrieveSipCredentialsForCymbusUser
      parameters:
        - name: userid
          in: path
          description: ID of end-user
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipCredentialData'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/cymbus/{userid}/sipcredentials/change:
    put:
      tags:
        - Cymbus User Product
      summary: Change SIP password for Cymbus user
      description: Use to change SIP password for both Cymbus user lines
      operationId: changeSipCredentialsForCymbusUser
      parameters:
        - name: userid
          in: path
          description: ID of end-user
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipCredentialData'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/enm/edge-node:
    get:
      tags:
        - Edge Node
      summary: Get Edge Nodes
      description: List edge nodes for a partition ID
      operationId: getPartitionNodes
      parameters:
        - name: partitionId
          in: query
          required: false
          schema:
            type: string
        - name: default
          in: query
          required: false
          schema:
            type: boolean
          description: If true, the list will contain only the partition's default node
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: defaults to 100
        - name: pageNum
          in: query
          required: false
          schema:
            type: integer
          description: defaults to 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeQueryResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '422':
          description: Invalid pageSize; Invalid pageNum
    post:
      tags:
        - Edge Node
      summary: Create Edge Node
      description: Create Edge Node
      operationId: createNode
      parameters:
        - name: default
          in: query
          required: false
          schema:
            type: boolean
          description: Set node as default for new accounts. Defaults to false.
      requestBody:
        description: Create an Edge Node
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeUpsert'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Partition not found
        '422':
          description: Body missing required fields
      x-codegen-request-body-name: body
  /v2/enm/edge-node/{nodeId}:
    delete:
      tags:
        - Edge Node
      summary: Delete Edge Node
      description: Delete edge node
      operationId: deleteNode
      parameters:
        - name: nodeId
          in: path
          description: ID of Edge Node
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Node not found
    get:
      tags:
        - Edge Node
      summary: Get Edge Node
      description: Get edge node by node ID
      operationId: getEdgeNode
      parameters:
        - name: nodeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Partition not found
    put:
      tags:
        - Edge Node
[...]
