openapi: 3.2.0
info:
  title: Alianza Public Document Repository API
  version: '2'
  description: "Welcome to the Alianza Public API documentation, based on the OpenAPI 3.0 specification.\n\n_If you need the Swagger 2.0/OAS 2.0 version of the Alianza Public API, click [here](https://api.alianza.com/v2/apidocs/)._\n\nAuthentication for most API endpoints requires the use of an <a href=\"data.html#xauthtoken\" hidden>X-AUTH-TOKEN</a> X-AUTH-TOKEN header. Please reach out to your account manager for login credentials.\nTo obtain an X-AUTH-TOKEN, use the POST /v2/authorize endpoint under the <a href=\"#/~operation/Authorize/\">Authorize</a> group, which will return an authToken value. \nClick the Authorize button below and provide the returned token. \n\n<div hidden>\nSome useful links:\n- [Brief introduction to Alianza components](data.html) such as Partitions, Accounts and Users\n</div>"
servers:
- url: https://api.d2.alianza.com
  description: Development
- url: https://api.q2.alianza.com
  description: QA
- url: https://api.b2.alianza.com
  description: Beta
- url: https://api.alianza.com
  description: Production
security:
- X-Auth-Token: []
tags:
- name: Document Repository
  description: Operations for managing documents
paths:
  /v2/document-repository/document-version/{id}:
    get:
      tags:
      - Document Repository
      summary: Get a document version
      operationId: getDocumentVersionById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersion'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
  /v2/document-repository/document-content/{id}:
    get:
      tags:
      - Document Repository
      summary: Get a document version content
      operationId: getDocumentVersionContentById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiException'
components:
  schemas:
    DocumentVersion:
      type: object
      properties:
        id:
          type: string
        documentSeriesId:
          type: string
        versionNumber:
          type: integer
          format: int32
        roles:
          type: array
          items:
            type: string
            enum:
            - PORT_AUTHORIZATION
            - SMS_AUTHORIZATION
          uniqueItems: true
        comment:
          type:
          - string
          - 'null'
        contentSize:
          type: integer
          format: int64
        contentDigestMethod:
          type: string
        contentDigestValue:
          type: string
        createdAt:
          type: string
        createdBy:
          type:
          - string
          - 'null'
        updatedAt:
          type:
          - string
          - 'null'
        updatedBy:
          type:
          - string
          - 'null'
        deletedAt:
          type:
          - string
          - 'null'
        deletedBy:
          type:
          - string
          - 'null'
    PublicApiException:
      type: object
      properties:
        status:
          type: integer
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
          example:
            key: value
            key2: value2
    DocumentContent:
      type: object
      properties:
        url:
          type: string
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-AUTH-TOKEN
